.wc-gift-ideas-shadow {
    z-index: 9999999999999999999999999999999999;
}

.wc-gift-ideas-force-hide-add-to-cart .add_to_cart_button,
.wc-gift-ideas-force-hide-add-to-cart .ajax_add_to_cart,
.wc-gift-ideas-force-hide-add-to-cart .single_add_to_cart_button {
    display: none !important;
}

#direccion_entrega_country_field {
    display: none;
}