.p-frecuentes {
  counter-reset: section;

  .item-scroll {
    border-bottom: 1px solid $gris2;
    font-size: 14px;

    > a {
      display: block;
      position: relative;
      font-weight: 700;
      color: $gris1;
      padding: 5px 40px 8px 15px;
      border-bottom: 1px solid $gris2;
      font-size: 16px;

      &:before {
        counter-increment: section;
        content: counter(section);
        color: $rojo;
      }

      &:after {
        font-family: 'toys2go_icons';
        content: "\e80a";
        font-size: 8px;
        right: 10px;
        top: 12px;
        position: absolute;
      }
    }

    > div {
      padding: 10px 15px 0;
    }

    &.activo {
      > a {
        &:after {
          content: "\e809";
        }
      }
    }
  }
}