$heights: 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 45, 56, 57, 58, 59, 60, 55, 70, 75, 80, 85, 90, 95;

@each $height in $heights {
  .h-#{$height} {
    height: #{$height+'%'};
  }
}

@each $height in $heights {
  .w-#{$height} {
    width: #{$height+'%'};
  }
}

$positions: fixed, absolute, relative, static;

@each $position in $positions {
  .p-#{$position} {
    position: #{$position+'!important'};
  }
}

@for $i from 1 through 100 {
  .index-#{$i} {
    z-index: $i;
  }
}

$overflows: auto, hidden, inherit, initial, overlay, scroll, unset, visible;
@each $overflow in $overflows {
  .over-#{$overflow} {
    overflow: #{$overflow+'!important'};
  }
}