.cd-top {
  @include border-radius(50%);
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  @include transition(all ease-out .4s);
  @include box-shadows(3px, 3px, 5px, rgba(0,0,0,.2));
  z-index: 9;
  background-color: $amarillo;
  color: $blanco;
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 65px;
  height: 65px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;

  &:hover {
    color: $blanco;
    @include box-shadows(5px, 5px, 8px, rgba(0,0,0,.3));
  }

  i, span {
    display: block;
    font-size: 15px;
    line-height: 1.35;
  }

  i {
    font-size: 18px;
  }

  &.stick {
    bottom: 30px;
  }

  @include media-breakpoint-down(lg) {
    width: 75px;
    height: 75px;
    left: 15px;
    bottom: 10px;

    span {
      font-size: 14px;
    }

    i {
      font-size: 24px;
    }
  }

  @include media-breakpoint-down(md) {
    width: 56px;
    height: 56px;

    span {
      font-size: 12px;
    }

    i {
      font-size: 16px;
    }
  }
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {

}
