/* Max content widths */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto
}

/* Navbar */
.navbar-topbar {
  @include border_radius(0);
}

.navbar {
  .dropdown-menu li {
    width: 100%;
    margin-left: 0 !important;
  }
}

/* Main content */
#content {
  article {
    margin: 40px 0
  }

  header {
    margin: 20px 0
  }

  section {
    margin-bottom: 20px
  }

  footer {
    padding-bottom: 20px
  }

  .page-header {
    background: #f9f9f9 none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    margin: 40px 0 20px;
    padding: 10px 14px;

    .lead {
      font-size: 21px;
    }

    p {
      margin-bottom: 5px;
    }
  }
}

/* Sidebar */
.sidebar {
  margin-top: 20px;

  section {
    margin-bottom: 40px
  }

  ul, ol {
    list-style-type: none;
    padding: 0;

    .sidebar li {
      margin: 10px 0
    }
  }
}

/* Hide form placeholders on focus */
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */
#respond {
  margin-top: 40px
}

ol.commentlist {
  counter-reset: li; /* Initiate a counter */
  padding: 0
}

ol.commentlist ul {
  padding: 0
}

ol.commentlist > li {
  position: relative;
  margin: 0 0 20px 0;
  list-style: none /* Disable the normal item numbering */
}

ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}

ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist {
  li {
    padding: 20px;

    li {
      background: #f9f9f9;

      li {
        background: #fff;

        li {
          background: #f9f9f9;

          li {
            background: #fff
          }
        }
      }
    }
  }

  ul {
    li {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

.reply {
  p {
    margin: 0;
  }
}

/* Site footer */
.site-footer {
  padding: 40px 0;

  ul, ol {
    list-style-type: none;
    padding: 0
  }

  li {
    margin: 10px 0
  }

  p {
    text-align: center
  }

  .site-sub-footer p {
    text-align: center
  }
}
