
.genero-link {

  @include media-breakpoint-down(md) {
    .h1, h2 {
      font-size: 12px;
    }
  }
}

.crear-lista {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 70px;
    height: 65px;
    bottom: 0;
    position: absolute;
    right: 10px;
    background: url(../img/pinguino1.svg) no-repeat center bottom;
    background-size: 100% auto;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .btn-icon {
    &:before {
      color: $rojo;
      transform: translate(-50%, -79%);
    }
  }
}

.crear-lista-desktop {
  .container {
    position: relative;
    margin-top: 20px;

    .row {
      &.justify-content-md-center {
        [class*=col-] {
          min-height: 130px;
          margin-top: 25px;
          @include flexbox;
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);

          &:first-child, &:last-child {
            min-height: 155px;
            margin-top: 0;
          }

          &:first-child {
            @include justify-content(flex-end);
            @include align-items(flex-end);
          }
        }
      }
    }
  }
}

/**
 * Ribbon
 */
.ribbon {
  display: inline-block;
  position: absolute;
  color: $blanco;
  line-height: 34px;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 20px;
  left: 50%;
  @include text-shadow(2px, 2px, 1px, rgba(0,0,0,.45));
  @include translate(-50%,-25%);

  &:after, &:before {
    content: "";
    position: absolute;
  }

  &:after {
    right: 0;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    @include translate(100%,0);
  }

  &:before {
    left: 0;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    @include translate(-100%,0);
  }

  &.bg-amarillo {
    &:after, &:before {
      border-top-color: $amarillo;
      border-bottom-color: $amarillo;
    }
  }
}

.suscripcion {
  //margin-bottom: 35px;
  .row {
    padding-top: 10px;
    padding-bottom: 10px;

    .content {
      background-color: $gris3;

      h3 {
        font-size: 16px;
        @include media-breakpoint-down(lg){
          font-size: 14px;
        }
      }

      .btn-sm {
        padding: 0.35rem 1.2rem;
        font-size: 12px;
      }
    }

    .content > .row {
      > [class*=col-] {
        & + [class*=col-] {
          border-left: 1px solid $gris1;
        }
      }
    }
  }

  .contenido {
    @include flexbox;
    @include align-content(center);
    @include flex-direction(column);
    @include justify-content(center);
  }

  h2, .h2 {
    font-size: 24px;
  }

  .form-suscripcion {
    position: relative;

    > input, .wpcf7-form-control-wrap {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      position: relative;
    }

    .wpcf7-form-control-wrap {
      width: calc(100% - 97px);
      z-index: 1;
    }

    input {
      padding: .25rem .75rem;

      &[type=email] {
        @include border-top-right-radius(0);
        @include border-bottom-right-radius(0);
      }

      &[type=submit] {
        width: 90px;
        @include border_radius(20px);
        z-index: 2;
        margin-left: -20px;
        height: 30px;
      }
    }

    span[role=alert] {
      //position: absolute;
    }

    .ajax-loader {
      position: absolute;
      top: 7px;
      right: -10px;
    }
  }

  @include media-breakpoint-down(md) {
    .row {
      .content {
        background-color: transparent;

        [class*=col-] {
          > div {
            background-color: $celeste;
            @include border-radius(5px);

            .form-control {
              border-color: $celeste;
              //padding: 0.315rem .75rem;
            }

            .btn-primary {
              background-color: $amarillo;
            }
          }
        }

        h3 {
          color: $blanco;
          font-size: 14px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .row {
        .content {
          [class*=col-] {
            > div {
              .form-control {
                padding: 0.315rem .75rem;
              }
            }
          }
        }
      }
    }

    @media screen and (orientation: portrait){
      .row {
        .content {
          [class*=col-] {
            > div {
              .form-control {
                //max-width: 276px;
              }
            }
          }
        }
      }
    }
  }
}

.prod-relacionados {
  @include media-breakpoint-up(lg) {
    border-width: 1px 0;
    border-style: solid;
    border-color: $gris2;
  }
}

/**
 * Widgets
 */
.widget {
  h4 {
    font-weight: 600;
    margin: 0 0 20px;
    font-size: 16px;
  }
}

.page-id-9363 {
  .modal-body {
    .aviso {
      display: block!important;
    }

    .invitado {
      display: none;
    }
  }
}