// Carousel fade transition
.carousel-fade {
  .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    @include transition(opacity .75s ease-in-out);

    &.active {
      opacity: 1;
    }
  }
}

// Custom styles for this pen
.carousel {
  &.carousel-principal {
    margin-bottom: $main-esp;

    .carousel-inner {
      height: 300px;

      .carousel-item {
        .container {
          .row {
            height: 300px;
            @include align-items(center);

            h3 {
              font-size: 40px;
              font-weight: 400;
              position: relative;
              margin-bottom: 15px;
              padding-bottom: 10px;

              &:after {
                position: absolute;
                height: 2px;
                content: "";
                background-color: $blanco;
                width: 40px;
                bottom: 0;
                left: 0;
              }
            }

            p {
              font-size: 21px;
              margin-bottom: 18px;
            }

            a {

            }
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .carousel-inner {
        height: 165px;

        .carousel-item {
          .container {
            .row {
              height: 165px;
              margin-right: 0;
              margin-left: 0;

              h3 {
                font-size: 16px;
                margin-bottom: 5px;
              }

              p {
                font-size: 14px;
                margin-bottom: 6px;
              }

              [class*=col-] {
                padding-right: 0;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

.carousel-indicators {
  bottom: 0;
  z-index: 1;
  margin-bottom: .75rem;

  li {
    height: 15px;
    width: 15px;
    @include border-radius(50%);
    background-color: transparent;
    border: 2px solid $blanco;
  }
}