.woocommerce {
  table {
    &.shop_table {
      border: 0;

      tr {
        &.cart_item {
          td {
            padding: 16px 10px;
            border-top: 0;
            border-bottom: 1px solid $gris2;

            &.product-remove {
              width: 40px;

              a {
                height: 30px;
                width: 30px;
                @include media-breakpoint-down(md){
                  height: 26px;
                  width: 26px;
                }

                i {
                  font-size: 14px;

                  &:before {
                    font-weight: 800;
                  }
                }
              }
            }

            &.product-thumbnail {
              width: 60px;
              padding:16px 0;

              a {
                display: block;
                border: 1px solid $gris2;
              }
            }

            &.product-name {
              a {
                font-size: 16px;
                color: $gris1;
              }
            }

            &.product-price {

            }

            &.product-quantity {
              width: 110px;
            }

            &.product-subtotal {
              width: 140px;

              .woocommerce-Price-amount {
                font-weight: 600;
              }
            }

            @include media-breakpoint-down(sm) {
              &.product-thumbnail {
                width: 50px;
              }
            }
          }
        }
      }
    }
  }

  .cart-collaterals {
    position: relative;

    .cart_totals {
      position: relative;
      @include translate(0,-70px);
      padding: 10px 24px;

      &.consombra {
        .shop_table {
          tr {
            th, td {
              border-top: 0;
            }

            &.cart-subtotal {

            }

            &.order-total {

            }
          }

          .shipping, .fee {
            display: none;
          }
        }

        .wc-proceed-to-checkout {
          padding: 0 0 10px;
        }
      }
    }
  }
}

.wc-proceed-to-checkout {
  @include flexbox;

  > a {
    @include flex-basis(100%);
    margin-bottom: 0;

    &.btn-danger {
      @include button-variant($rojo, $rojo, $rojo);
    }

    &:first-child {
      margin-right: 5px;
    }
  }
}

#add_payment_method .wc-proceed-to-checkout,
.woocommerce-cart .wc-proceed-to-checkout,
.woocommerce-checkout .wc-proceed-to-checkout {
  a {
    font-size: 14px;
    padding: 12px 15px;

    &.checkout-button {
      &.btn-danger {
        @include button-variant($rojo, $rojo, $rojo);
        font-size: 14px;
        font-weight: normal;
        padding: 12px 15px;
      }

      margin-bottom: 0;
    }
  }
}



#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 60px;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
  width: 50%;
}
