.woocommerce-checkout {
  .nav {
    &.nav-tabs {
      @include flexbox;
      @include justify-content(space-between);
      border-bottom-color: $gris2;
      margin-bottom: 0;
      position: relative;

      &:before {
        position: absolute;
        top: 24px;
        border-bottom: 1px solid $celeste;
        left: 40px;
        right: 40px;
        content: "";
      }

      .nav-item {
        margin-bottom: 0;

        .nav-link {
          text-align: center;

          &:hover {
            border-color: transparent;
          }

          span {
            &.numero {
              @include border_radius(50%);
              border: 1px solid $celeste;
              display: inline-block;
              width: 30px;
              height: 30px;
              position: relative;
              line-height: 30px;
              text-align: center;
              font-size: 16px;
              background-color: $blanco;
            }

            &.texto {
              display: block;
            }
          }

          &.active, &:hover {
            border-color: transparent;

            span {
              &.numero {
                background-color: $celeste;
                color: $blanco;
              }

              &.texto {
                color: $celeste;
              }
            }
          }
        }
      }
    }
  }

  .carrito-checout {
    font-size: 12px;
  }

  ul.carrito-checout{
    margin-bottom: .5rem;

    li {
      padding: 2px 0;
    }
  }

  div.carrito-checout {
    padding: 8px 0;
  }

  .total_cart {
    border-top: 2px solid $gris2;
  }

  @include media-breakpoint-down(md) {
    .nav {
      &.nav-tabs {
        .nav-item {
          .nav-link {
            span {
              &.numero {

              }

              &.texto {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.woocommerce {
  table.shop_table {
    border-collapse: collapse;
    margin: 0;

    th, td {
      padding: 0;

      &.product-total {
        font-weight: 600;
      }

      img {
        border: 1px solid $gris2;
        @include border_radius(4px);
        padding: 5px;
      }
    }

    thead {
      tr {
        th {
          border-bottom: 1px solid $gris2;
        }
      }
    }

    tbody {
      tr {
        &.cart_item {

        }
      }
    }

    tfoot {
      th, td {
        border-top: 0;
        font-weight: normal;
      }
    }

    &.woocommerce-movil-review-order-table {
      th, td {}

      thead {
        h3 {
          font-size: 14px;
        }
      }

      tbody, tfoot {
        tr {
          td, th {
            font-size: 12px;
            padding: 3px 10px;
            border-bottom: 0;
          }
        }
      }

      tfoot {
        tr {
          td {
            text-align: right;
            font-weight: 600;
          }

          &.order-total {
            th, td {
              font-weight: 700;
              border-top: 1px solid $gris2;
              padding: 5px 10px;
            }

            strong {
              font-weight: 700;
              color: $rojo;
            }
          }
        }
      }
    }
  }

  .woocommerce-checkout {
    #payment {
      background: transparent;

      ul.payment_methods {
        padding: 0;
        border-bottom: 0;

        > li {
          padding: 10px 15px;

          &:not(:last-of-type) {
            border-bottom: 1px solid $gris2;
          }

          .form-row {
            margin: 9px 0 6px;
            padding: 0;

            label {
              margin-bottom: 2px;
              width: 100%;
            }

            input {
              margin: 0;
            }
          }

          .payment_box {
            background-color: transparent;
            padding: 0 0 10px;
            margin: 0;
            @include border-radius(0);

            ul {
              list-style: none;
              margin-bottom: 16px;

              li {
                @extend .p-relative;
                position: relative;
                line-height: 1.4;

                &:before {
                  @extend .p-absolute;
                  content: "-";
                  position: absolute;
                  top: 1px;
                  left: -15px;
                }
              }
            }

            p {

            }

            &:before {
              display: none;
            }

            &.payment_method_wc_payu_cc_gateway {
              .wc-credit-card-form {
                margin: 0;

                p {
                  &.wc_payu_attacker_script.wc_payu_attacker_script_para {
                    margin-bottom: 0;
                    line-height: 0;
                  }

                  &.form-row {
                    label {
                      line-height: 2;
                      margin-bottom: 2px;
                      display: block;
                      width: 100%;
                    }

                    input {
                      &[type=text], &[type=tel], &[type=number] {
                        @include border-radius(20px);
                        border: 1px solid $gris1;
                        padding: .5rem .75rem;
                        font-size: 1rem!important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .metodo-packing {
    @include flexbox;
    @include align-items(flex-start);
    padding: 15px;
    border-bottom: 1px solid $gris2;

    &:last-of-type {
      border-bottom: 0;
    }

    figure {
      width: 60px;

      img {

      }
    }

    .contenido {
      width: calc(100% - 60px);
      padding-left: 15px;

      p {
        font-size: 10px;
        margin-bottom: 0;
      }

      strong {
        font-weight: 600;
      }

      label {
        margin-bottom: 0;
        display: block;
        width: 100%;

        input {
          &[type=radio], &[type=checkbox] {
            display: none;

            & + span {
              display: block;
              max-width: 100%;

              &:before {
                font-family: "toys2go_icons";
                padding-left: 5px;
                color: #00abf1;
                float: right;
              }
            }
          }

          &[type=radio] {
            & + span {
              &:before {
                content: "\e825";
              }
            }

            &:checked, &[checked=checked], &[checked=true] {
              & + span {
                &:before {
                  content: "\e816";
                }
              }
            }
          }

          &[type=checkbox] {
            & + span {
              width: 60px;

              &:before {
                content: "\e834";
              }
            }

            &:checked, &[checked=checked], &[checked=true] {
              & + span {
                &:before {
                  content: "\e82c";
                }
              }
            }
          }
        }
      }

      .niveles {
        ul {
          padding-left: 0;
          padding-top: 15px;

          li {
            @include flexbox;
            @include align-items(flex-start);
            margin-bottom: 10px;

            figure {
              width: 60px;

              a {
                display: block;
                position: relative;

                &:after {
                  font-family: "toys2go_icons";
                  font-size: 10px;
                  position: absolute;
                  right: 4px;
                  bottom: 4px;
                  content: "\e84d";
                  color: $gris1;
                }
              }
            }

            > div {
              width: calc(100% - 60px);
              padding-left: 15px;

              label {
                span {
                  font-weight: 600;
                  margin-right: 30px;

                  &:before {
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media screen {
      @include media-breakpoint-down(sm) {
        .contenido {

        }
      }
    }
  }

  ul#shipping_method {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);

    li {
      @include flex-grow(0);
      @include flex-shrink(0);
      @include flex-basis(100%);
      text-indent: 0;
      padding: 0;
      width: 100%;

      .form-row {
        margin-bottom: 0;

        label {
          @include flexbox;
          @include flex-direction(column);
          width: 100%;
          margin-bottom: 0;

          span {
            line-height: 1.2;
            margin-bottom: 5px;
          }

          small, strong {
            display: block;
            width: 100%;
            line-height: 1.2;
          }

          small {
            font-size: 12px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 10px;
          }

          strong {
            font-weight: 600;
          }
        }
      }
    }
  }

  .mobile-checkout-form {
    .titulo-productos {
      padding-left: 45px;

      &:before {
        line-height: 50px;
        top: 0;
        left: 15px;
      }
    }
  }

  ul {
    &#shipping_method {
      .form-row {
        margin-bottom: 0;
      }

      li {
        padding: 0;
      }
    }
  }

  .col-left {
    ul {
      &#shipping_method {
        li {

        }
      }
    }
  }

  .col-right {
    .titulo_pago_cab {
      display: none !important;
    }

    table.shop_table {
      font-size: 12px;

      tr {
        th, td {
          padding: 10px 5px;

          &.product-remove {
            padding-left: 15px;
            padding-right: 0;
            text-align: right!important;
          }

          &.product-image {
            width: 80px;
          }

          .product-name {
            font-size: 14px;
          }

          &.product-total {
            padding-right: 20px;
          }
        }
      }

      thead {
        h3 {
          margin-bottom: 0;
        }

        tr {
          th, td {
            padding: 20px 15px;
          }
        }
      }

      tbody {

      }

      tfoot {
        tr {
          th, td {
            font-weight: 700;
            padding-top: 8px;
            padding-bottom: 8px;
          }

          th {
            padding-left: 20px;
          }

          td {
            padding-right: 20px;
            text-align: right;
          }

          &.cart-discount {
            td {
              color: $rojo;

              a {
                float: left;
              }
            }
          }

          &.order-total {
            td {
              font-size: 16px;

              strong {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  .desktop-checkout-form {
    .titulo-productos {
      padding-left: 45px;

      &:before {
        line-height: 47px;
        top: 0;
        left: 15px;
      }
    }

    .form-row {
      padding: 0 15px;

      &.form-row-first, &.form-row-last {
        width: 100%;
      }

      label.checkbox, label {
        display: block;
        width: 100%;
      }
    }

    .metodo-packing {
      padding: 10px 15px;
    }
  }

  #payment > .form-row.place-order,
  #order_review_derecha > .shop_table > tfoot > .shipping,
  #order_review_derecha > .shop_table > tfoot > .titulo_pago_cab,
  #order_review_derecha > .woocommerce-checkout-payment,
  /*#order_review_derecha > .bordes-tb,*/
  #order_review > .shop_table > tfoot > .cart-subtotal,
  #order_review > .shop_table > tfoot > .cart-custom-shipping,
  #order_review > .shop_table > tfoot > .cart-discount,
  #order_review > .shop_table > tfoot > .fee,
  #order_review > .shop_table > tfoot > .order-total,
  #order_review > .shop_table > thead,
  #order_review > .shop_table > tbody {
    display: none;
  }
}

body.logged-in {
  .woocommerce {
    #pluginator-checkout-steps-wizard {
      &.pluginator-wizard {
        .steps {
          &:after {
            left: 12%;
            right: 12%;
          }

          > ul {
            > li {
              width: 25% !important;
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        &.pluginator-wizard {
          .steps {
            > ul {
              > li {
                width: 25% !important;
              }
            }
          }
        }
      }
    }
  }
}

.woocomerce-form.woocommerce-form-login.login {
  input[type=submit] {
    margin-right: 1rem;
  }

  .form-row {
    margin-bottom: 10px;

  }
}

.titulo_paso_desktop {
  font-size: 16px;
  position: relative;
  padding: 0 15px 0 55px;
  line-height: 31px;

  &:before {
    left: 15px;
    top: 0;
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    text-align: center;
    display: block;
    background-color: $celeste;
    color: $blanco;
    @include border_radius(50%);
  }

  &.uno {
    &:before {
      content: "1";
    }
  }

  &.dos {
    &:before {
      content: "2";
    }
  }

  &.tres {
    &:before {
      content: "3";
    }
  }
}

.titulo-resumen + .titulo-resumen {
    display: none!important;
}

/**
 * Página "Gracias por su compra"
 */
.gracias-compra {
  .contenido {
    padding-top: 2rem;
    background: $blanco;

    .detalle {
      padding: 1rem;

      ul.order_details {
        @include flexbox;
        padding: 0;
        margin-bottom: 1rem;

        li {
          margin-right: 0;
          padding-right: 0;
          margin-right: 0;
          width: 25%;
          padding: 15px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .contenido {
      .detalle {
        ul.order_details {
          li {
            width: 50%;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .contenido {
      .detalle {
        ul.order_details {
          @include flex-direction(column);

          li {
            width: 100%;
          }
        }
      }
    }
  }
}

.shipping_address {
  display: block!important;
}
.btn-open-detalle{
  top: 5px;
  right: 10px;
  padding: 10px;
  color: $celeste;
  &:hover{
    color: $celeste;
  }
  &.collapsed{
    @include rotate(180);
  }
}

.itemmetodo.activo{
  .shipping_method_m_collapse{
    display: block;
  }
}
.itemmetodo{
  .shipping_method_m_collapse{
    display: none;
  }
}
