.woof_redraw_zone {
  .woof_container {
    margin-bottom: 20px;

    h4 {
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 0;
      font-size: 16px;
      color: $gris6;
      position: relative;

      &.opened {
        color: $gris4;
      }

      a {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 2;

        img {
          float: right;
        }
      }
    }

    .woof_block_html_items {
      ul {
        padding: 25px 0 0;
      }

      .icheckbox_square-blue {
        border: 1px solid $celeste;
        @include border_radius(2px);
        margin-top: -10px;

        &.checked {

        }

        &.hover {
          background-position: 0 0;
        }
      }

      label.woof_checkbox_label {
        font-size: 12px;
        max-width: calc(100% - 50px);

        &.woof_checkbox_label_selected {
          font-weight: 400;
        }
      }
    }

    &.woof_price_search_container, &.woof_price3_search_container {
      h4 {

      }

      .irs-with-grid {
        margin: 25px 0 0;

        .irs-line {
          height: 4px;
          top: 33px;
          background: $color-borde;
          border: 0;
          @include border_radius(5px);
        }

        .irs-bar {
          height: 4px;
          top: 33px;
          border-top: 0;
          border-bottom: 0;
          background: $celeste;
        }

        .irs-slider {
          top: 28px;
          width: 14px;
          height: 14px;
          border: 2px solid $celeste;
          background: $blanco;
          @include border_radius(50%);
          @include box-shadow(none);
          cursor: pointer;
          box-shadow: none;

          &:after {
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            top: 50%;
            left: 50%;
            @include border_radius(50%);
            background-color: $celeste;
            margin-left: -3px;
            margin-top: -3px;
          }

          &.from {
            &:after {
              margin-left: -3px;
              margin-top: -3px;
            }
          }

          &.to {
            &:after {

            }
          }
        }

        .irs-grid, .irs-min, .irs-max {
          display: none!important;
        }

        .irs-from, .irs-to {
          background: transparent;
          color: $celeste;
          font-size: 12px;
        }
      }
    }
  }

  .woof_submit_search_form_container {
    display: none;
  }
}

.collapse-filtros {
  a {
    display: block;
    position: relative;

    &:after, &:before {
      color: $gris1;
      line-height: 30px;
    }

    &:after {
      font-family: "toys2go_icons";
      float: right;
      font-size: 10px;
    }

    &:before {
      font-size: 12px;
    }

    &[aria-expanded=false] {
      &:after {
        content: "\e80a";
      }
    }

    &[aria-expanded=true] {
      &:after {
        content: "\e809";
      }
    }
  }

  &.filtro-edad {
    a {
      &:before {
        content: "Filtrar por edad:";
      }
    }
  }

  &.filtro-precio {
    a {
      &:before {
        content: "Filtrar por precio:";
      }
    }

    .radio-button.estilo label {
      border-color: $celeste;
      color: $celeste;
    }
  }
  &.filtro-genero {
    a {
      &:before {
        content: "Filtrar por g\00e9nero:";
      }
    }
    .radio-button.estilo label {
      border-color: $celeste;
      color: $celeste;
    }
  }
}