@font-face {
  font-family: 'toys2go_icons';
  src: url('#{$ruta-fuentes}/toys2go_font.eot?24918217');
  src: url('#{$ruta-fuentes}/toys2go_font.eot?24918217#iefix') format('embedded-opentype'),
  url('#{$ruta-fuentes}/toys2go_font.woff2?24918217') format('woff2'),
  url('#{$ruta-fuentes}/toys2go_font.woff?24918217') format('woff'),
  url('#{$ruta-fuentes}/toys2go_font.ttf?24918217') format('truetype'),
  url('#{$ruta-fuentes}/toys2go_font.svg?24918217#toys2go_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'toys2go_icons';
    src: url('../font/toys2go_icons.svg?24918217#toys2go_icons') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "toys2go_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-eye:before { content: '\e800'; } /* '' */
.icon-mas:before { content: '\e801'; } /* '' */
.icon-menos:before { content: '\e802'; } /* '' */
.icon-oso:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-nino:before { content: '\e805'; } /* '' */
.icon-lego:before { content: '\e806'; } /* '' */
.icon-facebook-3:before { content: '\e807'; } /* '' */
.icon-spin4:before { content: '\e808'; } /* '' */
.icon-play-arriba:before { content: '\e809'; } /* '' */
.icon-play-abajo:before { content: '\e80a'; } /* '' */
.icon-twitter-2:before { content: '\e80b'; } /* '' */
.icon-muneca:before { content: '\e80c'; } /* '' */
.icon-menu-hamburger:before { content: '\e80d'; } /* '' */
.icon-facebook-2:before { content: '\e80e'; } /* '' */
.icon-menu-cuadrados:before { content: '\e80f'; } /* '' */
.icon-rss-1:before { content: '\e810'; } /* '' */
.icon-play-izquierda:before { content: '\e811'; } /* '' */
.icon-play-derecha:before { content: '\e812'; } /* '' */
.icon-pincel:before { content: '\e813'; } /* '' */
.icon-porcentaje:before { content: '\e814'; } /* '' */
.icon-pregunta:before { content: '\e815'; } /* '' */
.icon-radiobutton-activo:before { content: '\e816'; } /* '' */
.icon-reompecabeza:before { content: '\e817'; } /* '' */
.icon-relacionados:before { content: '\e818'; } /* '' */
.icon-scooter:before { content: '\e819'; } /* '' */
.icon-twitter:before { content: '\e81a'; } /* '' */
.icon-usuario:before { content: '\e81b'; } /* '' */
.icon-regalo:before { content: '\e81c'; } /* '' */
.icon-superheroe:before { content: '\e81d'; } /* '' */
.icon-camion-sello:before { content: '\e81e'; } /* '' */
.icon-youtube-play:before { content: '\e81f'; } /* '' */
.icon-youtube:before { content: '\e820'; } /* '' */
.icon-nina:before { content: '\e821'; } /* '' */
.icon-mail-1:before { content: '\e822'; } /* '' */
.icon-cuadrado:before { content: '\e823'; } /* '' */
.icon-vimeo:before { content: '\e824'; } /* '' */
.icon-radiobutton:before { content: '\e825'; } /* '' */
.icon-like:before { content: '\e826'; } /* '' */
.icon-regalo-sello:before { content: '\e827'; } /* '' */
.icon-estrella-solida:before { content: '\e828'; } /* '' */
.icon-flecha-abajo:before { content: '\e829'; } /* '' */
.icon-flecha-arribla:before { content: '\e82a'; } /* '' */
.icon-flecha-derecha:before { content: '\e82b'; } /* '' */
.icon-checkbox-activo:before { content: '\e82c'; } /* '' */
.icon-google-plus:before { content: '\e82d'; } /* '' */
.icon-google-plus-2:before { content: '\e82e'; } /* '' */
.icon-avatar-linea:before { content: '\e82f'; } /* '' */
.icon-instagram:before { content: '\e830'; } /* '' */
.icon-estrella-sola:before { content: '\e831'; } /* '' */
.icon-flecha-izquierda:before { content: '\e832'; } /* '' */
.icon-estrella:before { content: '\e833'; } /* '' */
.icon-checkbox-vacio:before { content: '\e834'; } /* '' */
.icon-checkbox:before { content: '\e835'; } /* '' */
.icon-mail:before { content: '\e836'; } /* '' */
.icon-cerrar:before { content: '\e837'; } /* '' */
.icon-whatsapp:before { content: '\e839'; } /* '' */
.icon-libros:before { content: '\e83a'; } /* '' */
.icon-lupa-sello:before { content: '\e83b'; } /* '' */
.icon-linkedin:before { content: '\e83c'; } /* '' */
.icon-dollar-sello:before { content: '\e83d'; } /* '' */
.icon-angulo-arriba:before { content: '\e83e'; } /* '' */
.icon-carrito:before { content: '\e842'; } /* '' */
.icon-nino-nina:before { content: '\e843'; } /* '' */
.icon-tren:before { content: '\e844'; } /* '' */
.icon-facebook:before { content: '\e846'; } /* '' */
.icon-instagram-2:before { content: '\e847'; } /* '' */
.icon-regalo-cut:before { content: '\e848'; } /* '' */
.icon-angulo-izquierda:before { content: '\e849'; } /* '' */
.icon-angulo-abajo:before { content: '\e84a'; } /* '' */
.icon-angulo-arriba-1:before { content: '\e84b'; } /* '' */
.icon-angulo-derecha:before { content: '\e84c'; } /* '' */
.icon-lupa:before { content: '\e84d'; } /* '' */
.icon-sonrisa:before { content: '\e84e'; } /* '' */
.icon-regalo-fondo:before { content: '\e852'; } /* '' */
.icon-caja:before { content: '\e853'; } /* '' */
.icon-cuaderno:before { content: '\e854'; } /* '' */
.icon-nube:before { content: '\e855'; } /* '' */
.icon-puntero-mapa:before { content: '\e856'; } /* '' */
.icon-plus:before { content: '\e857'; } /* '' */
.icon-menu-columnas:before { content: '\e858'; } /* '' */
.icon-play-circulo:before { content: '\e859'; } /* '' */
.icon-lapiz-sello:before { content: '\e85a'; } /* '' */
.icon-porcentaje-escudo:before { content: '\e85b'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */