@import "../bower_components/bootstrap/scss/functions";
@import "../bower_components/bootstrap/scss/variables";
@import "../bower_components/bootstrap/scss/mixins/buttons";
@import "../bower_components/bootstrap/scss/mixins/box-shadow";
@import "../bower_components/bootstrap/scss/mixins/breakpoints";
@import 'variables';

textarea {
  resize: none;

  &.form-control {
    @include border_radius(10px);
  }
}

a, button {
  cursor: pointer;
}


label {
  @include media-breakpoint-down(sm) {
    line-height: 1.3;
  }
}

.form-row, .form-group {
  label {
    margin-bottom: 2px;
  }
}

.form-row {
  @include media-breakpoint-down(md) {
    width: 100%!important;
  }
}

/**
 * Botones
 */
.btn {
  font-weight: 400;
  padding: .5rem 1.3rem;
  line-height: 1;
  border-radius: 5px;
  cursor: pointer;

  &.btn-xl {
      max-width: 400px;
      @include border_radius(6.5px);
  }

  @include media-breakpoint-up(lg) {
    &.btn-xl {
      padding: 15px 25px;
      font-size: 20px;
    }
  }
}

.btn-primary {
  @include button-variant($celeste, $celeste, $celeste);
}

.btn-danger {
  @include button-variant($rojo, $rojo, $rojo);
}

.btn-border-primary {
  @include button-variant(transparent, $celeste, $celeste, $celeste);
  color: $celeste;
}


.btn-group-sm>.btn,
.btn-sm {
  padding: 0.4rem 1.2rem;
  line-height: 1.4;
  font-size: 14px;
}

.btn-group-lg>.btn,
.btn-lg {
  line-height: 1;
  padding: 11px 25px;
  font-size: 16px;
  @include border_radius(3px);
}

.btn-icon {
  position: relative;
  margin-top: 40px;

  span {
    position: relative;
    z-index: 2;
  }

  &:before {
    font-family: "toys2go_icons";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    font-size: 48px;
    @include translate(-50%, -84%);
  }

  // Iconos
  &.btn-icon-regalo {
    &:before {
      content: '\e848';
    }
  }

  // Colores
  &.btn-icon-rojo {
    &:before {
      color: $rojo;
    }
  }

  &.btn-icon-amarillo {
    &:before {
      color: $amarillo;
    }
  }

  // Tamaños
  &.btn-sm {
    &:before {
      font-size: 45px;
    }
  }

  &.btn-lg {
    margin-top: 65px;

    &:before {
      font-size: 70px;
      @include translate(-50%, -92%);
    }
  }
}

.dos-icon {
  font-size: 24px;
  font-weight: 400;

  span {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  &:before, &:after {
    font-family: "toys2go_icons";
    font-weight: 400;
    font-size: 25px;
    color: $amarillo;
    @include media-breakpoint-down(lg){
      font-size: 20px;
    }
  }

  &.tit-regalos {
    &:before, &:after {
      content: "\e81c";
    }
  }
}

/**
 * Inputs
 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.form-control {
  border-color: $gris-inputs;
  font-weight: 400;
  height: auto!important;
  padding: 0.35rem .75rem;
  @include border_radius(20px);

  &.br-especial {
    @include border-radius(20px);
  }

  &.brd-doble {
    border-width: 2px;
  }

  &:focus {
    outline: 0!important;
    border-color: $gris1;
  }

  &.borde-gris-claro {
    border-color: $gris2;
  }

  &.form-control-sm {
    padding: .2rem 1.75rem .2rem .75rem;
    line-height: 1;
    height: 24px!important;
    font-size: 12px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0.315rem .75rem;
    font-size: 0.9rem;
  }
}

.form-s {
  .input-group {
    .form-control:not(:last-child) {
      @include border_radius(20px 0 0 20px);
      border-right: 0;

      & + .input-group-addon:not(:first-child) {
        @include border_radius(0 20px 20px 0);
        background-color: $blanco;
        border-left: 0;
        border-color: $gris1;
        border-color: $gris-inputs;
        z-index: 9;
        cursor: pointer;

        i {
          font-size: 18px;
          line-height: 1;
        }
      }

      /*&:focus {
        & + .input-group-addon:not(:first-child) {
          border-color: rgba(0,0,0,.15);
        }
      }*/

    }

    &.coupon {
      .form-control:not(:last-child) {
        @include border_radius(20px 0 0 20px);
        border-right: 0;
        background: transparent;

        & + .input-group-addon:not(:first-child) {
          @include border_radius(20px);
          background-color: $rojo;
          border-color: $rojo;
          margin-left: -25px;
          position: relative;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }

  label {
    margin-bottom: 0;
    line-height: 35px;

  }
}

.form-group {

}

/**
 * Validaciones
 */
abbr.required, span.required {
  color: $gris1!important;
  text-decoration: none;
  font-weight: normal!important;

  &:before {
    content: "(";
  }

  &:after {
    content: ")";
  }

  & + abbr.required, & + span.required {
    display: none;
  }
}

/**
 * Filtro
 */
.filtro-home {
  margin-top: 40px;
  padding-top: 32px;
  padding-bottom: 32px;

  h2 {
    position: absolute;
    background-color: $rojo;
    display: inline-block;
    color: $blanco;
    font-weight: 600;
    margin: 0;
    line-height: 44px;
    padding-right: 30px;
    top: -32px;
    @include translate(0,-50%);

    &:before, &:after {
      content: "";
      position: absolute;
    }

    &:before {
      height: 100%;
      width: 700px;
      left: -100%;
      background-color: $rojo;
      display: block;
      left: 0;
      top: 0;
      @include translate(-100%, 0);
    }

    &:after {
      width: 0;
      height: 0;
      border-right: 18px solid transparent;
      border-top: 22px solid $rojo;
      border-bottom: 22px solid $rojo;
      right: 0;
      @include translate(100%,0);
    }

    i {
      font-size: 30px;
      vertical-align: middle;
      font-weight: normal;
      line-height: 1;
    }
  }

  button[type=submit] {
    position: absolute;
    top: -15px;
    right: 0;
  }
}

.llamanos {
  li {
    margin: 0 15px;
    display: inline-block;
    background-color: $amarillo;
    line-height: 32px;
    @include border_radius(15px);
    font-weight: 700;
    font-size: 16px;
    padding: 0 17px;

    a {
      text-decoration: underline;
    }

    i {
      font-size: 20px;
      line-height: 1.1;
    }
  }

  @include media-breakpoint-down(md) {
    li {
      margin: 0 10px;
      font-size: 12px;
    }
  }
}

.radio-button {
  .label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-size: 13px;
  }

  .wrapper {
    width: 500px;
    margin: 50px auto;
  }

  input[type=radio],
  input[type=checkbox] {
    display: none;
  }

  label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  }

  .radio label:before {
    border-radius: 8px;
  }

  .checkbox label {
    margin-bottom: 10px;
  }

  .checkbox label:before {
    border-radius: 3px;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
  }

  input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
  }

  &.estilo {
    //@include flex-basis()
    font-size: 0;

    li {
      display: inline-block;
      margin-bottom: 8px;
      width: 33.33333%;
      text-align: center;
      vertical-align: middle;

      .btn {
        font-size: 14px;
        width: 90px;
        padding: .5rem 0;
      }
    }

    label {
      padding-left: 0;
      width: 90px;
      text-align: center;
      @include border_radius(20px);
      margin-bottom: 5px;
      line-height: 30px;
      color: $gris1;
      margin-bottom: 0;
      border: 1px solid $gris1;

      &:before {
        display: none;
      }
    }

    input[type=radio]:checked + label {
      background-color: $rojo;
      border-color: $rojo;
      color: $blanco;
    }
  }
}

.filtro-home {
  h3 {
    font-weight: 500;

    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      @include border_radius(50%);
      text-align: center;
      line-height: 24px;
      margin-right: 5px;
    }
  }

  ul {
    @include flex-basis(100%);

    li {
      display: inline-block;
    }
  }

  label {
    color: $blanco;
    margin-bottom: 0;
    border: 1px solid $blanco;
  }

  input[type=radio]:checked+label {
    background-color: $rojo;
    border-color: $rojo;
  }

  .row {
    > .col-md-4 {
      & + .col-md-4 {
        border-left: 1px solid $gris4;
      }

      .cont {
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        height: 80px;
      }

      &.genero {
        label {
          font-size: 16px;
          @include border_radius(5px);
          display: block;
          padding: 8px 15px;
          line-height: 1rem;

          i {
            font-size: 21px;
          }

          &:before {
            display: none;
          }
        }
      }

      &.edad {
        label {
          padding-left: 0;
          width: 100px;
          text-align: center;
          @include border_radius(20px);
          margin-bottom: 5px;
          line-height: 25px;

          &:before {
            display: none;
          }
        }
      }

      &.precio {
        .slider-container {
          max-width: 100%;

          .back-bar {
            height: 12px;
            @include border_radius(5px);
            background-image: none;
            background-color: $blanco;

            .pointer-label {
              position: absolute;
              top: -25px;
              font-size: 16px;
              background: transparent;
              color: $blanco;
              white-space: nowrap;
              line-height: 1;

              &.plus {
                &:after {
                  position: absolute;
                  right: -12px;
                  content: "+";
                  top: -2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.theme-green {
  .back-bar {
    .pointer {
      cursor: pointer;
      width: 28px;
      height: 28px;
      top: -8px;
      @include border_radius(50%);
      border: 2px solid $celeste;
      background-color: $rojo;
      background-image: none;

      &:after {
        content: "";
        position: absolute;
        background: transparent;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include border_radius(50%);
        border: 4px solid $blanco;
      }
    }

    .selected-bar {
      background-image: none;
      background-color: $rojo;
      border: 2px solid $blanco;
    }
  }
}

input::-webkit-input-placeholder {
  color: $negro;
  font-weight: 300;
}

input:-moz-placeholder {
  color: $negro;
  font-weight: 300;
}

input:-ms-input-placeholder {
  color: $negro;
  font-weight: 300;
}

@include media-breakpoint-down(md) {

  input::-webkit-input-placeholder {
    font-size: 12px;
  }

  input:-moz-placeholder {
    font-size: 12px;
  }

  input:-ms-input-placeholder {
    font-size: 12px;
  }
}

.custom-select {
  background: url("../img/play-abajo-celeste.svg");
  background: #fff url("../img/play-abajo-celeste.png") no-repeat right .75rem center;
}
.select-noarrow{
  background: $blanco;
}

/**
 * Botón más/menos add to cart producto
 */
.woocommerce {
  .quantity {
    .plus,
    .woocommerce .quantity .minus,
    .woocommerce-page .quantity .plus,
    .woocommerce-page .quantity .minus {

    }
  }

  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    @extend .btn-primary;
  }

}

.woocommerce, .woocommerce-page {
  .quantity {
    @include flexbox;
    @include align-items(center);
    height: 25px;
    padding: 0;

    input {
      border-color:$gris2!important;
      border-width: 1px;
      border-style: solid;

      &.plus, &.minus, &.qty {
        position: relative;
        float: none;
        height: 100%;
        font-weight: normal;
      }

      &.plus, &.minus {
        background-color: transparent;
        width: 20px;
        font-weight: 300;
        border-bottom: 1px solid;
        border-color:$gris2!important;
        font-size: 20px;
        line-height: 25px;
      }

      &.qty {
        width: 30px;
        border-width: 1px 0;
        color: $celeste;
        font-size: 16px;
      }

      &.plus {
        @include border_radius(0 5px 5px 0);
      }

      &.minus {
        @include border_radius(5px 0 0 5px);
      }
    }
  }
}

.buttons_added {
  input {
    position: relative;
    display: inline-block;
  }
}

select {
  &.select-genero {
    text-align: center;
    text-align-last: center;
    color: $rojo;
    max-width: 65px!important;
    @include box-shadows(0px, 2px, 5px, rgba(0,0,0,.15));
    margin-left: 5px;

    option {
      text-align: center;
    }

    &.custom-select {
      background: none;
    }

    &.form-control.form-control-sm {
      padding: .2rem .75rem .2rem .75rem;
    }
  }
}

.buscar-movil {
  position: relative;

  .dropdown-menu {
    width: 240px;
    background-color: transparent;
    border: 0;
    padding: 0;
    left: -20px;
    top: 105%;
    @include box-shadows(-1px, 2px, 7px, rgba(0,0,0,.5));
    @include border_radius(20px);

    .form-control, button {
      border-color: $gris2!important;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

span.wpcf7-not-valid-tip {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 12px;
}

div.wpcf7-validation-errors {
  border: 1px solid $rojo;
  font-size: 14px;
  line-height: 1.2;
}

/**
 * Registro
 */
.ur-frontend-form  {
  border: 0;
  padding: 0;
}

/**
 * Checkout
 */
.woocommerce {
  form {
    .form-row {
      padding: 0 10px;
      margin: 0 0 10px;

      &#billing_ckguardardireccion_field {
        margin-top: 1rem;
      }

      label {
        input[type=checkbox] {
          display: none;

          + span {
            &:before {
              font-family: "toys2go_icons";
              content: "\e834";
              padding-right: 5px;
              color: $celeste;
            }
          }

          &:checked {
            + span {
              &:before {
                content: "\e82c";
              }
            }
          }
        }

        input[type=radio] {
          display: none;

          + span {
            &:before {
              font-family: "toys2go_icons";
              content: "\e825";
              padding-left: 5px;
              color: $celeste;
              float: right;
            }
          }

          &:checked, &[checked=checked], &[checked=true] {
            + span {
              &:before {
                content: "\e816";
              }
            }
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .form-row {
        label {
          line-height: 1;

          &.checkbox {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
