/**
 * Generales
 */
html,body{
  @include media-breakpoint-down(sm) {
    &.bug-input {
      -webkit-overflow-scrolling: touch !important;
      overflow: auto !important;
      height: 100% !important;
    }
  }
}

body {
  font-family: $font-parrafos;
  font-weight: 400;
  font-size: 16px;
  color: $gris1;
  padding-top: 170px;

  &.woocommerce-checkout {
    padding-top: 140px;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 86px;

    &.woocommerce-checkout {
      padding-top: 80px;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: $font-titles;
  font-size: 12px;

  &.bordes {
    margin-bottom: 0;
  }
}

h1, .h1 {
  font-size: 16px;
  font-weight: 400;
}

h2, .h2 {
  font-size: 26px;
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }
}

h3, .h3 {
  font-size: 14px;
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

.h4, h4 {
  font-size: 14px;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

.h5, h5 {
  font-size: 16px;
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    font-size: 13px;
  }
}

a {
  color: $celeste;

  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

strong, .strong {
  font-weight: 600;
}

figure {
  margin: 0;
}

li.item-menu-cuenta {
  > a {
    @include relativo;
    &:before {
      font-family: "toys2go_icons";
      color: $celeste;
      position: relative;
      font-size: 40px;
      line-height: 35px;
      font-weight: normal;
      padding-right: 10px;
    }
  }

  &.orders {
    > a:before {
      @include before-content('\e853');
    }
  }

  &.edit-address {
    > a:before {
      @include before-content('\e856');
    }
  }

  &.edit-account {
    > a:before {
      @include before-content('\e854');
    }
  }

  &.nube {
    > a:before {
      @include before-content('\e855');
    }
  }

  &.plus {
    > a:before {
      @include before-content('\e857');
    }
  }
}

.h-100-vh {
  height: 100vh;
}
.d-flex, .row {
  @include flexbox;
}

p.cart-empty {
  display: none !important;
}

.text-underline {
  text-decoration: underline!important;
}
.font-light{
  font-weight: 400 !important;
}
.semibold {
  font-weight: 600;
}

.lead {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.bg-blanco{
  background-color: $blanco;
}
.min-width-280{
  min-width: 280px;
}
.cargando, .loading {
  @include absoluto();
  //display: none;
  z-index: 9;

  i {
    font-size: 30px;
    animation: girar 575ms infinite linear;
  }
}

.loading {
  background-image: url(../img/loading-celeste-blanco.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.products {
  .loading {
    background-position: center 50px;
    background-color: rgba(255,255,255,.95);
    display: block;
  }
}
input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
  min-height: 30px;
}
.selectoculto{
  position: absolute;
  z-index: -9999;
  opacity: 0;
}
.w-auto {
  width: auto !important;
}

@keyframes girar {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

.relativo {
  @include relativo;
}

.titulo-checkout {
  font-size: 16px;
  padding: 20px 0;
  line-height: 1;
  padding: 17px 0;
  border-bottom: 1px solid $gris2;
}

.rojo {
  color: $rojo!important;
}

.blanco {
  color: $blanco!important;
}

.gris {
  color: $gris1!important;
}

.celeste {
  color: $celeste!important;
}

.amarillo {
  color: $amarillo!important;
}

.bg-gris {
  background-color: $gris2;
}

.bg-gris2 {
  background-color: $gris4!important;
  color: $blanco;
}

.bg-gris3 {
  background-color: $gris3!important;
}

.bg-gris4 {
  background-color: $gris4!important;
}

.bg-gris5 {
  background-color: $color-borde !important;
}

.bg-celeste {
  background-color: $celeste;

  a {
    color: $blanco;
  }
}

.bg-amarillo {
  background-color: $amarillo;
}

.rounded-circle {
  overflow: hidden;
}

.border-bottom-1 {
  padding-bottom: 1rem;
}

[class*=col-] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12-pc {
  @include flex(0 0 12%);
  max-width: 12%;
}

.col-88-pc {
  @include flex(0 0 88%);
  max-width: 88%;
}

.col-1-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

.col-4-5 {
  flex: 0 0 80%;
  max-width: 80%;
}

.superstrong {
  font-weight: 700;
}

.titulo-productos {
  padding-left: 50px;
  line-height: 40px;
  position: relative;
  font-size: 24px;

  &:before {
    font-family: "toys2go_icons";
    color: $rojo;
    position: absolute;
    font-size: 30px;
    line-height: 35px;
    left: 15px;
    top: 2px;
    font-weight: normal;
  }

  &.like {
    &:before {
      @include before-content('\e826');
    }
  }

  &.estrella {
    &:before {
      @include before-content('\e833');
    }
  }

  &.relacionados {
    &:before {
      @include before-content('\e818');
    }
  }

  &.porcentaje {
    &:before {
      @include before-content('\e814');
    }
  }

  &.delivery {
    &:before {
      @include before-content('\e81e');
    }
  }

  &.regalo {
    &:before {
      @include before-content('\e852');
    }
  }

  &.usuario {
    &:before {
      @include before-content('\e81b');
    }
  }

  &.dinero {
    &:before {
      @include before-content('\e83d');
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 12px;
    line-height: 25px;
    padding-left: 25px;
    margin-bottom: 12px;

    &:before {
      font-family: "toys2go_icons";
      font-size: 20px;
      line-height: inherit;
      left: 0;
      top: 0;
    }

    &.sin-icon {
      padding-left: 0;
    }
  }

  &.bordes {
    margin-bottom: 0;
  }
}

h3.titulo-productos, .h3.titulo-productos {
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;

  &:before {
    font-size: 20px;
    left: 5px;
  }

  @include media-breakpoint-down(md) {
    font-size: 13px;
  }
}

.conten-post {
  @include media-breakpoint-up(md) {
    margin-top: 35px;
  }
}
.hidden {
  display: none;
}
.bordetop{
  border-top: 1px solid $color-borde;
}
.bordes {
  border: solid $gris2;
  min-height: 50px;
  padding: 0 10px;
  @include flexbox;
  @include align-items(center);

  &.bordes-tb {
    border-width: 1px 0;
  }

  &.bordes-b {
    border-width: 0 0 1px;
  }

  &.bordes-t {
    border-width: 1px 0 0;
  }

  &.bordes-t2 {
    border-width: 2px 0 0;
  }

  &.bordes-t3 {
    border-width: 3px 0 0;
  }

  &.bordes-t4 {
    border-width: 4px 0 0;
  }

  h1, .h1, h2, .h2 , h3 .h3, p, label {
    margin-bottom: 0!important;
    &+*{
      margin-top: 0.5em !important;
    }
  }

  + *:not(.bordes) {
    //margin-top: 50px;
  }

  &.bordes-alt {
    min-height: 0;
    padding: 10px 15px!important;
    display: block;
  }

  .titulo-productos {
    padding-left: 25px;

    &:before {
      left: 0;
    }
  }

  .form-row {
    padding: 0!important;
  }
}

.borde-all {
  border: 1px solid $gris2;
}

.borde-radius-10 {
  @include border-radius(10px);
  padding-top: 10px;

  > * {
    max-width: inherit;
  }
}

.p-10-15 {
  padding: 10px 15px!important;
}

.p-10 {
  padding: 10px!important;
}

.p-0-10 {
  padding: 0 10px!important;
}

.pl-10 {
  padding-left: 10px!important;
}

.pr-10 {
  padding-right: 10px!important;
}

p-lr-15 {
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.consombra {
  background-color: $blanco;
  @include border_radius(10px);
  @include box-shadows(0, 2px, 15px, rgba(0,0,0,.2));
}

.page-header {
  .lead {
    font-size: 21px;
  }

  p {
    margin-bottom: 5px;
  }
}

/**
 * Colores
 */
.text-celeste {
  color: $celeste;
}

.text-rojo {
  color: $rojo;
}

/**
 * Global
 */
.row {
  &.fila-4px {
    margin-right: -4px;
    margin-left: -4px;

    > [class*=col-] {
      padding-right: 4px;
      padding-left: 4px;
    }
  }
}

section {
  &.main {
    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-bottom: 10px;
    }

  }
}

.pagina-contenido {
  &.preguntas-frecuentes {
    padding-bottom: 170px;
  }

  &.quienes-somos {
    figure {
      padding-top: 40px;
    }
  }

  &.cuenta-creada {
    &.v-desktop {
      &:after, &:before {
        @include absoluto;
        content: "";
        z-index: -1;
        left: 0;
        background-image: url("../img/papelitos-izquierda.svg");
        background-repeat: no-repeat;
        background-position: left 50%;
      }

      &:after {
        background-image: url("../img/papelitos-derecha.svg");
        background-position: right 100%;
      }

      &.gracias-compra {
        &:after, &:before {
          background-position: left 0%;
        }

        &:after {
          background-position: right 0%;
        }
      }
    }

    &.v-movil {
      background-image: url("../img/papelitos-movil.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      background-position: top center;

      figure {
        img {
          max-width: 100px;
          height: auto;
        }
      }

      @media only screen and (orientation: portrait) {
        //background-position: center -180%;
      }
    }

    a {
      &.btn {
        margin-top: 5px;
      }
    }

    figure {
      padding-top: 40px;
    }
  }

  &.contactanos {
    padding-bottom: 120px;
  }

  &.pagina-404 {
    img {
      padding-top: 40px;
    }
  }

  .img-404 {
    position: relative;

    img {
      position: relative;
      z-index: 2;
    }

    &:after {
      height: 126px;
      content: "";
      background-color: #41BDFF;
      display: block;
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }

  // Formulario de Registro
  &.registro {
    padding-top: 25px;
    padding-bottom: 120px;

    #ur-recaptcha-node {
      width: 100%!important;
      max-width: none!important;
      float: none!important;

      .g-recaptcha {
        margin: 0!important;
      }
    }

    @include media-breakpoint-up(lg) {
      #ur-recaptcha-node {
        .g-recaptcha {
          -moz-transform: scale(1)!important;
          -o-transform: scale(1)!important;
          -ms-transform: scale(1)!important;
          -webkit-transform: scale(1)!important;
          transform: scale(1)!important;
        }
      }
    }
  }

  .ur-frontend-form, div {
    //width: 100%!important;

    form {
      .ur-form-row {
        .ur-form-grid {
          padding: 0;

          .ur-field-item {
            .form-row {
              margin-right: 0;
              margin-left: 0;
            }
          }
        }
      }

      .form-control {
        height: auto!important;
        @include border_radius(20px!important);
      }

      label {
        font-size: 1rem;
      }

      button[type=submit], input[type=submit] {
        float: none;
        margin: 0 auto;
        background: $celeste;
        color: $blanco;
        margin-top: 30px;
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      form {
        button[type=submit], input[type=submit] {
          padding: 15px 25px;
          font-size: 20px;
          min-width: 400px;
        }
      }
    }
  }



  h1 {
    font-size: 30px;
    margin: 0;
    padding: 50px 0 20px;
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 24px;
    }

    &.cuenta-creada, &.pagina-404 {
      h1 {
        padding: 50px 0 0;
      }
    }

    &.preguntas-frecuentes {
      padding-bottom: 70px;
    }

    &.cuenta-creada {
      a {
        &.btn {
          margin-top: 0;
        }
      }
    }

    &.quienes-somos {
      figure {
        padding-top: 0;

        img {
          max-width: 110px;
          height: auto;
        }
      }
    }

    h1 {
      font-size: 24px;
    }
  }
}

/**
 * Footer
 */
footer.main {
  padding-top: 35px;
  padding-bottom: 35px;

  h4 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
  }

  .row {
    [class*=col-] {
      position: relative;

      &:nth-child(2), &:nth-child(3) {
        &:after {
          position: absolute;
          border-right: 1px solid $blanco;
          height: 75%;
          top: 0;
          content: "";
          right: 0;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 20px;
    padding-bottom: 20px;

    h4 {
      font-size: 12px;
    }

    .row {
      [class*=col-] {
        &:nth-child(2), &:nth-child(3) {
          &:after {
            height: 60%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }

        &:nth-child(3) {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.giftlist-list {
  padding: 10px 25px 15px;

  a {
    > span {
      font-weight: 500;

      &:nth-child(1) {
        //color: $celeste;
      }

      &:nth-child(2) {
        //color: $rojo;
      }

      &:nth-child(3) {
        //color: $gris2;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 5px 15px 10px;
  }
}


.wc-gift-ideas-giftlist {
  .return-to-shop {
     a {

     }

    @include media-breakpoint-down(sm) {
      a {
        max-width: 70%;
        margin: 0 auto 5px;
      }
    }
  }
}

/**
 * Responsive
 */
@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {

}



.woof_info_popup {
  display: none!important;
}