﻿/*
    Common
*/

.wizard, .tabcontrol  {
  display: block;
  width: 100%;
  overflow: hidden;

  a {
    outline: 0;
  }

  ul {
    list-style: none !important;
    padding: 0;
    margin: 0;

    > li {
      display: block;
      padding: 0;
    }
  }

  .current-info {
    position: absolute;
    left: -999em;
  }

  > .content {
    > .title {
      position: absolute;
      left: -999em;
    }
  }
}

/**
 *   Wizard
 */
.wizard {
  > .steps {
    position: relative;
    display: block;
    width: 100%;
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    position: relative;
    margin: 0!important;
    padding: 10px 0;

    > ul {
      position: relative;
      overflow: hidden;

      &:after {
        position: absolute;
        top: 15px;
        content: "";
        border-bottom: 1px solid $celeste;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        display: block;
        z-index: -1;
      }

      > li {
        float: left;
        width: 25%;
      }
    }

    a {
      text-align: center;
      font-size: 12px;

      .number {
        @include border_radius(50%);
        line-height: 28px;
        font-size: 17px;
        width: 30px;
        height: 30px;
        display: block;
        background-color: $blanco;
        color: $celeste;
        border: 1px solid $celeste;
        margin: 0 auto;
      }

      .texto {
        width: 100%;
        display: block;
        white-space: normal;
        text-overflow: inherit;
        line-height: 1.2;
        padding-top: 5px;
      }
    }

    a, a:hover, a:active {
      display: block;
      width: auto;
      text-decoration: none;
      text-align: center;
    }

    .disabled {
      a, a:hover, a:active {
        cursor: default;

        .number {}
      }
    }

    .current {
      a, a:hover, a:active {
        cursor: default;

        .number {
          color: $blanco;
          background-color: $celeste;
        }
      }
    }

    .done {
      a, a:hover, a:active {

      }
    }

    .error {
      a, a:hover, a:active {

      }
    }
  }

  &.vertical {
    > .steps {
      display: inline;
      float: left;
      width: 30%;

      > ul {
        > li {
          float: none;
          width: 100%;
        }
      }
    }

    > .content {
      display: inline;
      float: left;
      margin: 0 2.5% 0.5em 2.5%;
      width: 65%;

      > .body {
        //float: left;
        position: absolute;
        width: 95%;
        height: 95%;
        padding: 2.5%;

        ul {
          list-style: disc !important;
        }
      }
    }

    > .actions {
      display: inline;
      float: right;
      margin: 0 2.5%;
      width: 95%;

      ul {
        li {
          margin: 0 0 0 1em;
        }
      }
    }
  }

  > .steps, > .actions {
    > ul {
      > li {

      }
    }
  }

  > .content {
    background: none;
    display: block;
    //min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;
    @include border_radius(5px);

    > .body {
      position: relative !important;
      position: absolute;
      //height: 95%;
      padding: 0;

      ul {
        list-style: disc !important;

        > li {
          display: list-item;
        }
      }

      > iframe {
        border: 0 none;
        width: 100%;
        height: 100%;
      }

      input {
        display: block;
        border: 1px solid $gris2;

        &[type="checkbox"] {}

        &.error {
          background: rgb(251, 227, 228);
          border: 1px solid #fbc2c4;
          color: #8a1f11;
        }
      }

      label {
        display: inline-block;
        margin-bottom: 0.5em;

        &.error {
          color: $rojo;
          display: inline-block;
          margin-left: 0;
          font-size: 11px;
          margin-top: 5px;
        }
      }
    }
  }

  > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    margin-top: 20px;

    > ul {
      text-align: center;
      margin-bottom: 20px;
      li {
        margin: 0 0.5em;
      }
    }

    a, a:hover, a.active {
      background: $celeste;
      color: #fff;
      display: block;
      padding: 0.5em 1em;
      text-decoration: none;
      @include border_radius(5px);
    }

    .disabled {
      a, a:hover, a.active {
        background: #eee;
        color: #aaa;
      }
    }
  }

  > .loading {
    .spinner {}
  }
}

/**
 *
 * Tabcontrol
 */
.tabcontrol {
  > .steps {
    position: relative;
    display: block;
    width: 100%;

    > ul {
      position: relative;
      margin: 6px 0 0 0;
      top: 1px;
      z-index: 1;

      li {
        float: left;
        margin: 5px 2px 0 0;
        padding: 1px;

        @include border_radius(5px 0 0 0);

        &:hover {
          background: #edecec;
          border: 1px solid #bbb;
          padding: 0;
        }

        &.current {
          background: #fff;
          border: 1px solid #bbb;
          border-bottom: 0 none;
          padding: 0 0 1px 0;
          margin-top: 0;
        }

        a {
          color: #5f5f5f;
          display: inline-block;
          border: 0 none;
          margin: 0;
          padding: 10px 30px;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        &.current {
          a {
            padding: 15px 30px 10px 30px;
          }
        }
      }
    }
  }

  > .content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;

    > .body {
      //float: left;
      position: absolute;
      width: 95%;
      height: 95%;
      padding: 0;
      padding: 0px;

      ul {
        list-style: disc !important;

        > li {
          display: list-item;
        }
      }
    }
  }
}