/*---CSS COLORES Y PADDING---*/
.text-amarillo{
  color: $amarillo;
}
.padding-top-50{
  padding-top: 50px;
}
.pad-vert-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.pad-vert-35{
  padding-top: 35px;
  padding-bottom: 35px;
}
.pad-vert-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.no-border-top{
  border-top: none;
}

/*---CSS BOTONES ADICIONALES---*/
.bold900{
  font-weight: 900;
}
.btn-custom-red{
  color: $blanco;
  background-color: $rojo;
  border-color: $rojo;
  &:hover{
    color: $blanco;
  }
  &.focus, &:focus{
    color: $blanco;
    box-shadow: 0 0 0 3px rgba($rojo, 0.5);
  }
}
.btn-crea-lista,.btn-encuentra-lista{
  margin-top: 80px;
  &:before{
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
  }
}
.btn-crea-lista{
  &:before{
    background-image: url("../img/pinguino1.svg");
  }
}
.btn-encuentra-lista{
  &:before{
    background-image: url("../img/pinguino2.svg");
  }
}
.edit-list-gifts{
  margin-top: 10px;
  text-decoration: underline;
}

.wc-gift-ideas-shadow {
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-buscar-lista{
  .modal-dialog{
    max-width: 700px;
  }
  .close{
    right: 7px;
    position: absolute;
    z-index: 3;
  }
  input[type="text"]{
    @include border-radius(20px);
  }
  .line-o{
    position: relative;
    font-size: 12px;
    margin-bottom: 7px;
    span{
      background-color: $blanco;
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
    }
    &:before{
      content: "";
      position: absolute;
      top: 9px;
      width:40%;
      left: 30%;
      height: 1px;
      background-color: $color-borde;
    }
  }

  @include media-breakpoint-down(sm) {
    .modal-dialog{
      max-width: 100%;

      a {
        &.btn-sm {
          white-space: normal;
          word-wrap: break-word;
          font-size: 12px;
          padding: 0.4rem 0.8rem;
        }
      }
    }
  }
}

.title-add-regalos{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $color-borde;
  border-bottom: 1px solid $color-borde;
  h2{
    margin: 0;
    i{
      font-size: 30px;
    }
  }
}

.radio_personalizado {
  input[type=radio] {
    display: none;

    & + .wpcf7-list-item-label, & + span {
      &:before {
        font-family: "toys2go_icons";
        content: "\e825";
        padding-right: 5px;
        color: $celeste;
      }
    }

    &:checked {
      & + .wpcf7-list-item-label, & + span {
        &:before {
          content: "\e816";
        }
      }
    }
  }
}

.checkbox_personalizado {
  input[type=checkbox] {
    display: none;

    & + .wpcf7-list-item-label, & + span {
      &:before {
        font-family: "toys2go_icons";
        content: "\e834";
        padding-right: 5px;
        color: $celeste;
      }
    }

    &:checked {
      & + .wpcf7-list-item-label, & + span {
        &:before {
          content: "\e82c";
        }
      }
    }
  }
}

.checkbox_personalizado, .radio_personalizado {
  &.inverso {
    input[type=checkbox], input[type=radio] {
      & + span {
        margin-right: 10px;

        &:before {
          float: left !important;
        }
      }
    }
  }
}

.custom-radios-regalos{
  li{
    float: left;
    min-width: 100px;
    @include media-breakpoint-down(sm){
      min-width: 90px;
    }
  }
  input[type=radio]:checked+label:before{
    content: "\e816";
    color: $celeste;
    font-size: 17px;
    line-height: 1;
  }
  .label{
    &:before{
      font-family: "toys2go_icons";
      content: "\e825";
      background: transparent;
      color: $celeste;
      box-shadow: none;
      text-decoration: none;
      font-size: 17px;
      line-height: 1;
    }
  }
}

.box-listacreada{
  background-color: $gris3;
  margin: 15px 0;
  padding: 5px 15px;

  h2{
    margin: 0;
  }
}

.lista-creada{
  p{
    margin: 0;
  }
  i{
    font-size: 30px;
  }
}

/*---CUSTOM MODAL--*/
//.wc-gift-ideas-add-to-wishlist{
.modal-center-vert{
  -webkit-transform: translate(0,-50%) !important;
  -o-transform: translate(0,-50%) !important;
  transform: translate(0,-50%) !important;
  top: 50%;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    margin: 0 25px;
  }
}

.custom-modal {
  .cerrar{
    font-size: 14px;
    color: $gris1;
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
    z-index:10;
  }
  .modal-header{
    padding: 0;
    border-bottom: 1px solid $gris2;
    h4{
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      line-height: 70px;
    }
  }
  .modal-body{
    padding: 15px 30px;
  }
  .modal-footer{
    border-top: 1px solid $gris2;
  }

  @include media-breakpoint-down(md) {
    .modal-header {
      h4 {
        font-size: 18px;
      }
    }

    .modal-footer {
      select {
        width: 100%;
      }
    }
  }
}
.td-image-product{
  width:20%;
  img{
    border: 1px solid $gris2;
    @include border-radius(5px);
    padding: 0 15px;
  }
}
.td-name-product{
  padding-left: 12px;
}


/*---TABLA PERSONALIZADA---*/
.tabla-personalizada{
  @include media-breakpoint-down(lg){
    font-size: 12px;
  }
  .giftlist-action{
    @include media-breakpoint-down(lg){
      min-width: 170px;
    }
  }
  th,td{
    padding: 16px 10px;
    border-bottom: 1px solid $gris2;
  }
  a.d-inline-block{
    padding: 3px;
    width: 30px;
    margin: 0;
    color: $negro;
    @include border-radius(3px);
    @include border-radius(50%);
    &:hover{
      color: $blanco !important;
      background-color: $celeste;
    }
  }
  .wc-gift-ideas-giftlist-remove,.wc-gift-ideas-producto-remove{
    &:hover{
      color: $blanco !important;
      background-color: $rojo !important;
    }
  }
  i{
    font-size: 14px;
  }
  td.producto-action{
    width: 50px;
  }
  td.producto-nombre{
    padding-left: 20px;
    a{
      color: $gris1;
    }
  }
  td.producto-miniatura{
    width: 60px;
    padding-left: 0;
    padding-right: 0;
    a{
      border: 1px solid $gris2;
    }
  }
  p{
    margin: 0;
  }
}
/*Parrafo blod + num rojo*/
.titulo-parrafo{
  font-weight: 700;
  color: #4a4a4a;
}

/*---Menu personalizado dashboard---*/

.woocommerce-breadcrumb{
  font-size: 1rem;
  a{
    color: $rojo;
    text-decoration: underline;
  }
}

.custom-nav-account{
  @include media-breakpoint-down(md){
    padding-bottom: 25px;
    padding-top: 25px;
  }
  li{
    width: 33%;
    padding: 20px;
    @include media-breakpoint-down(md){
      width: 100%;
    }
  }
  a{
    padding: 20px;
    border: 1px solid $color-borde;
    color: $gris1;
    align-items: center;
    justify-content: center;
  }
}
/*---BOTON CERRAR SESION MI CUENTA---*/
.btn-custom-logout{
  @include media-breakpoint-down(md){
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}
/*---PEDIDOS---*/
.woocommerce-account{
  font-size: 12px;
}
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details{
  border: 1px solid $color-borde;
  td{
    padding-top: 20px;
    padding-bottom: 20px;
  }


}
td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-number,td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-status,td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-total,td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions {
  width: 150px;
}
.order_details{
  border: 1px solid $color-borde;
}
.content-detalle-pedido{
  border: 1px solid $color-borde;
  margin: 0 0 25px 0;
  padding: 15px;
  address{
    margin: 0;
    padding: 0 !important;
    border: 0 !important;
  }
  p{
    margin-bottom: 1rem !important;
  }
  div{
    &:nth-of-type(1n+1){
      @include media-breakpoint-down(md){
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
  }
}
.row-item-pedido{
  border: 1px solid $color-borde;
  margin: 20px;
  display: flex;
  align-items: center;
  padding: 15px;

  @include media-breakpoint-down(md){
    margin: 0 0 20px;
  }

  @include media-breakpoint-down(sm){
    display: block;
  }

  div{
    border-top: 0 !important;
    &:nth-of-type(0n+1){
      width:10%;
      @include media-breakpoint-down(sm){
        margin-bottom: 15px;
      }
    }
    &:nth-of-type(1n+1){
      width:40%;
      @include media-breakpoint-down(sm){
        margin-bottom: 15px;
      }
    }
    &:nth-of-type(2n+1){
      width:20%;
      @include media-breakpoint-down(sm){
        margin-bottom: 15px;
      }
    }
    &:nth-of-type(3n+1){
      width:15%;
      @include media-breakpoint-down(sm){
        margin-bottom: 15px;
      }
    }
    &:nth-of-type(4n+1){
      width:10%;
    }
    @include media-breakpoint-down(sm){
      width:100% !important;
    }
  }
}

.custom-table-order-details{
  .td-img-producto{
    width: 120px;
    @include media-breakpoint-down(xs){
      width: 105px;
      float: left;
    }
  }
  .product-total{
    width: 200px;
    @include media-breakpoint-down(xs){
      margin-top: 10px;
      width: auto;
    }
  }
  @include media-breakpoint-down(xs){
    display: block;

    tbody,tr{
      display: block;
    }

    tr{
      padding: 15px 0;
      overflow: hidden;
    }

    td{
      display: inline-block;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      border: 0 !important;

      &.td-img-producto {

      }

      &.product-name, &.product-total {
        width: calc(100% - 120px);
      }

      &.product-total {

      }
    }
  }
}

/*---DIRECCIONES---*/
.edit-direcciones{
  .title{
    border: 1px solid $color-borde;
    padding: 10px 15px;
    h3{
      font-weight: 900;
      margin: 9px 0;
    }
  }
  address{
    margin-top: 15px;
    border: 1px solid $color-borde;
    padding: 15px;
  }
}

/*---BOTON REGALO HOME---*/
.btn-icon-regalo{
  /*line-height: 1.4;*/
}

/*---CARRITO DE COMPRAS---*/
@include media-breakpoint-down(md){
  .cart-collaterals{
    padding-top: 5rem;
  }
  .price-responsive-cart{
    font-weight: 600;
    margin-top: 5px;
    display: block;
  }
  .woocommerce {
    .woocommerce-cart-form {
      table.shop_table_responsive,table.shop_table{
        tr.cart_item{
          overflow: hidden;
          display: block;
          @include flexbox;
          @include align-items(center);
          position: relative;
          padding: 15px 0;
          border-bottom: 1px solid $color-borde;
          td{
            display: table-cell;
            float: left;
            text-align: left !important;
            border-bottom: 0;
            background-color: transparent;
            &:before{
              content: none;
            }
          }
          .product-remove{
            padding: 0 !important;
            width: 40px !important;
          }
          .product-price{
            display: none;
          }
          .product-thumbnail{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
          }
          .product-name{
            width: calc(100% - 180px);
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 15px !important;
            padding-right: 0 !important;
            line-height: 1.2;
            a{
              font-size: 14px !important;
            }
          }
          .product-quantity{
            width: 80px !important;
            padding-right: 0 !important;
            .buttons_added{
              width: 70px !important;
            }
          }
          .product-subtotal{
            display: none !important;
          }
        }
      }
    }
  }
}
