/**
 * Menú principal
 */
.c-offcanvas {
  z-index: 1031;
}

.c-offcanvas-bg {
  z-index: 1035;
}

.c-offcanvas {
  z-index: 1036;
}

/**
 * Iconos menú
 */
ul.buscador {
  @include flexbox;
  @include justify-content(space-between);

  li {
    padding: 0 12px;

    &.formulario {
      @include flex-grow(1);

      .form-inline {
        .input-group {

        }
      }
    }

    &.carrito {
      a.cart-contents {
        i {
          font-size: 38px;
          line-height: 1;
        }
      }
    }
  }
}

/**
 * Menú categorías
 */
.menu-categorias {
  &.navbar {
    padding: 0;

    ul.navbar-nav {
      > li {
        position: relative;
        max-width: 150px;

        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-start);

        > a.nav-link {
          text-align: left;
          font-size: 12px;
          color: $gris1;
          padding: 0 12px;
          line-height: 1.35;
          font-weight: 400;
          letter-spacing: -0.4px;
          text-align: center;
        }

        & + li {
          &:after {
            content: "";
            height: 100%;
            border-left: 1px solid $gris2;
            position: absolute;
            left: 0;
            top: 50%;
            @include translate(0, -50%);
          }
        }

        &.rojo {
          a {
            color: $rojo;
            font-weight: 700;
            font-size: 14px;
          }
        }
      }
    }
  }
}

/**
 * Cabecera
 */
.cart-contents {
  position: relative;

  i {
    position: relative;
    z-index: 1;
  }

  span {
    position: absolute;
    background-color: $rojo;
    color: $blanco;
    font-weight: 500;
    width: 20px;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    top: -6px;
    z-index: 2;
    text-align: center;
    left: 55%;
    transform: translate(-50%,0);
  }

  @include media-breakpoint-down(md) {
    span {
      font-size: 11px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      top: -4px;
    }
  }
}

.datos-contacto {
  li {
    font-size: 12px;
    padding: 0 3px;
    font-weight: 700;

    a {
      text-decoration: underline;
      line-height: 1;
    }
  }
}

header.main {
  background: $blanco;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  z-index: 1030;

  a {
    h2 {
      text-transform: uppercase;
      font-size: 18px;
      margin: 0;
      font-weight: 500;
    }
  }

  &.bg-gris2 {
    a {
      h2 {
        color: $blanco;

        &:before, &:after {
          border-bottom: 1px solid $blanco;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    a {
      h2 {
        position: relative;
        font-size: 14px;
        display: inline-block;
        font-weight: bold;

        &:before, &:after {
          content: "";
          border-bottom: 1px solid $celeste;
          position: absolute;
          width: 32px;
          top: 49%;
        }

        &:before {
          left: -40px;
        }

        &:after {
          right: -40px;
        }
      }
    }

    &.bg-gris2 {
      a {
        h2 {
          &:before, &:after {
            display: none;
          }
        }
      }
    }
  }
}

.icon-text {
  text-align: center;

  > div {
    i {
      display: block;
      font-size: 30px;
      line-height: 1;
    }

    a {
      > span {
        display: block;
        font-size: 12px;

        &.icon-grupo {
          position: relative;

          span {
            @include translate(-50%,0);
            position: absolute;
            color: $rojo;
            top: 14px;
            z-index: 2;
            font-size: 13px;
            font-weight: 700;
            background: $blanco;
            line-height: 1;
            left: 50%;
            width: 1.5em;
          }
        }
      }
    }
  }
}

.bg-inverse {
  top: 30px;
  background: $blanco;

  .sup, .sub {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sup {
    background: $gris3;

    ul {
      @include flexbox;
      @include align-content(center);

      margin: 0;

      li {
        @include flexbox;
        @include align-content(center);

        a {
          color: $gris1;
          cursor: pointer;
        }

        &.carrito {
          padding-top: 5px;
        }
      }
    }
  }

  .logo {
    position: relative;

    .navbar-brand {
      margin: 0;
      padding: 0;
    }
  }

  .sub {
    .logo {
      .navbar-brand {
        top: 0;
        @include translate(0, -67%);
      }
    }
  }

  @include media-breakpoint-up(md) {
    @include box-shadows(0, 3px, 5px, rgba(0,0,0,.1));
  }

  @include media-breakpoint-down(md) {
    border-top: 1px solid transparent;
    border-bottom: 1px solid $gris2;
    padding: 4px 16px;
  }
}

.tienda-segura {
  h1 {
    line-height: 65px;

    span {
      font-size: 30px;
      font-weight: 500;
    }

    i {
      font-size: 65px;
      vertical-align: top;
    }
  }

  @include media-breakpoint-down(md) {
    h1 {
      line-height: 28px;

      span {
        font-size: 14px;
      }

      i {
        font-size: 28px;
      }
    }
  }
}

body.woocommerce-checkout {
  .bg-inverse {
    top: 0;
  }
}

ul.cabecera {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    &.logo {
      max-width: 35%;
    }

    a {
      color: $gris1;
      font-size: 24px;

      i {

      }
    }
  }

  .navbar-brand {
    margin: 0;
  }
}

.full-borde {
  border-bottom: 1px solid $color-borde;
}

.full-borde.filtro-movil{
  font-size: 11px;
  color: $rojo;
  select{
    padding: 0 !important;
    margin: 0;
    box-shadow: none;
    width: auto;
  }

  label{
    color: $gris1;
    font-size: 13px;
  }
  span{
    color: $gris1;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.miga {
  padding: 35px 0 10px;

  a {
    color: $rojo;
    text-decoration: underline;
  }
}

/**
 * Menú offside
 */
.js-offcanvas {
  @include translate3d(-270px, 0, 0);
  width: 270px;
  overflow-y: auto;

  header {
    background: $celeste;
    position: relative;
    padding: 20px;
    width: 100%;

    a {
      &.cerrar {
        position: absolute;
        color: $blanco;
        top: 7px;
        right: 7px;
        font-size: 13px;
      }
    }
  }

  section {
    padding: 10px 15px;

    > div {
      padding-bottom: 10px;
      border-bottom: 1px solid $gris2;
    }
  }

  .menuSuperior {
    padding-bottom: 30px;

    > li {
      > a {
        &.navbar-toggle {
          &:after {
            content: "";
            position: relative;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: $gris1 transparent transparent transparent;
            top: 15px;
            margin-left: 10px;
          }

          &.active {

          }
        }

        &:before {
          font-family: 'toys2go_icons';
          content: "";
          left: 20px;
          position: absolute;
          top: 5px;
          font-size: 18px;
          font-weight: normal;
        }
      }

      a {
        color: $gris1;
        padding-left: 50px;
        position: relative;
        font-weight: 400;
      }

      &.cuenta {
        > a {
          &:before {
            content: '\e82f'
          }
        }
      }

      &.regalos {
        > a {
          &:before {
            content: '\e81c';
          }
        }
      }

      &.juguetes {
        > a {
          &:before {
            content: '\e803';
          }
        }
      }

      &.sale {
        > a {
          color: $rojo;

          &:before {
            content: '\e831'
          }
        }
      }

      &.ayuda {
        > a {
          &:before {
            content: '\e815'
          }
        }
      }

      .navbar-collapse {
        background: $gris2;

        a {
          font-size: 12px;
        }
      }
    }
  }
}

/**
 * Menús footer
 */
.menuFooter {
  list-style: none;
  padding: 0;

  @include media-breakpoint-down(md) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    min-height: 90px;

    li {
      line-height: 1;

      a {
        font-size: 11px;
      }
    }
  }
}

body.ie10 {
  .menu-categorias {
    &.navbar {
      ul.navbar-nav {
        > li {
          min-width: 0;
          @include justify-content(center);

          > a.nav-link {
            display: inline-block;
            max-width: 130px;
            padding-left: 14px;
            padding-right: 14px;
          }
        }
      }
    }
  }

  .cart-contents span {
    top: -24px;
  }
}

body.ie11 {
  .menu-categorias {
    &.navbar {
      ul.navbar-nav {
        > li {
          min-width: 80px;
          max-width: 170px;
        }
      }
    }
  }
}

