.modal-dialog {
  &.centrar-v {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    overflow: visible;

    @include media-breakpoint-down(md) {
      min-height: calc(100vh - 20px);
    }
  }
  @include media-breakpoint-down(lg){
    margin: 0 auto !important;
  }
}

.modal {
  .modal-content {
    @include border_radius(10px);
    @include box-shadows(0, 0, 8px, rgba(0,0,0,0.3));
    border: 0;
    overflow: hidden;
    .modal-body {
      padding: 15px 25px;

      > .absoluto {
        padding: 15px 25px;
      }
    }
  }

  .close {
    position: relative;
    z-index: 9;
    color: $gris1;
  }

  &.modal-login {
    .modal-dialog {
      max-width: 380px;

      .status {
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
      }

      .modal-body {
        min-height: 235px;

        &.suscrito {
          min-height: 135px;
        }

        .absoluto {
          @include absoluto();
          @include flexbox;
          @include align-items(center);
          @include justify-content(center);
          @include flex-direction(column);
          background-color: $blanco;

          .aviso {
            display: none;
          }

          span {
            position: relative;
            display: inline-block;
            line-height: 40px;
            margin-bottom: 10px;
            font-size: 14px;

            &:after, &:before {
              content: "";
              position: absolute;
              width: 55px;
              border-bottom: 1px solid $gris2;
              left: -5px;
              top: 50%;
              @include translate(-100%, 0);
            }

            &:after {
              @include translate(100%, 0);
              left: auto;
              right: -5px;
            }
          }

          a {
            &.link {
              font-size: 14px;
              text-decoration: underline;
              display: block;
              line-height: 1;
            }
          }

          label {
            margin-bottom: 0.3rem;
          }

          .form-control {
            padding: .35rem .75rem;
          }

          &.no-logged {
            height: 285px;
          }

          &.logged {

          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .modal-content {
      .modal-body {
        padding: 10px 15px;
      }
    }
  }
}

.modal-open .modal {
  &.modal-buscar-lista {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
}

@media (max-width: 900px) {
  .mfp-arrow-right {
    -webkit-transform-origin: 100% 0 !important;
    transform-origin: 100% 0 !important;
  }
}

