.xoo-cp-modal {
  .xoo-cp-container {
    padding: 0;

    .titulo {
      border-bottom: 1px solid $gris2;

      h4 {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0;
        line-height: 70px;

        i {
          font-size: 30px;
          vertical-align: middle;
        }
      }
    }

    i.xoo-cp-close {
      font-size: 14px;
      color: $gris1;
      top: 10px;
      right: 10px;
    }

    p {
      font-size: 15px;
      line-height: 1;
      margin-bottom: .5rem;
    }

    .xoo-cp-ptitle {
      a {
        color: $gris1;
        h2 {
          font-size: 24px;
        }
      }
    }

    .xoo-cp-content {
      > .cnt-table {
        padding: 20px 30px;
        border-bottom: 1px solid $gris2;

        table.xoo-cp-pdetails {
          margin-top: 0;

          .xoo-cp-pimg {
            width: 13.5% !important;

            a {
              display: inline-block;
              border: 1px solid $gris2;
              @include border_radius(5px);
              padding: 0 15px;

              img {
                display: block;
                margin: 0 auto;
              }
            }
          }

          .xoo-cp-ptitle {
            padding-left: 12px;
          }

          .xoo-cp-pprice {
            .precio {
              font-size: 24px;
            }
          }
        }
      }
    }

    .xoo-cp-ptotal {
      padding: 12px 30px;
      display: block;
      float: none;
      margin-right: 0;
      font-size: 24px;
      border-top: 0;

      > span {
        display: inline-block;
        line-height: 30px;
      }

      .woocommerce-Price-amount {
        font-size: 32px;
        font-weight: 700;
        color: $rojo;
      }
    }

    .xoo-cp-btns {
      padding: 10px 30px 25px;
      @include flexbox;

      a {


        &.btn-primary {
          background-color: $celeste;
          border-color: $celeste;
        }

        &.btn-danger {
          background-color: $rojo;
          border-color: $rojo;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .xoo-cp-container {
      .titulo {
        h4 {
          font-size: 18px;
          line-height: 45px;

          i {
            font-size: 21px;
          }
        }
      }

      p {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .xoo-cp-ptitle {
        a {
          h2 {
            font-size: 18px;
          }
        }
      }

      .xoo-cp-content {
        > .cnt-table {
          padding: 10px 20px;

          table.xoo-cp-pdetails {
            .xoo-cp-pimg {
              a {
                img {

                }
              }
            }

            .xoo-cp-pprice {
              .precio {
                font-size: 20px;
              }
            }
          }
        }
      }

      .xoo-cp-ptotal {
        padding: 5px 20px;
        font-size: 16px;

        .woocommerce-Price-amount {
          font-size: 20px;
        }
      }

      .xoo-cp-btns {
        padding: 0 20px 10px;
      }
    }

    @media only screen and (orientation: portrait) {
      .xoo-cp-container {
        .xoo-cp-content {
          > .cnt-table {
            table.xoo-cp-pdetails {
              width: 100%;

              .xoo-cp-pimg {
                width: 100% !important;

                a {
                  display: block;
                  margin-bottom: 10px;
                }
              }

              tbody, tr, td, .xoo-cp-ptitle, .xoo-cp-pprice {
                display: block;
                width: 100% !important;
              }

              .xoo-cp-ptitle {
                padding-left: 0;
              }

              td.xoo-cp-pprice {
                margin: 0;
              }
            }
          }
        }

        .xoo-cp-btns {
          @include flex-direction(column);

          a {
            width: 100%;
          }
        }
      }
    }

    @media only screen and (orientation: landscape) {
      .xoo-cp-container {
        .xoo-cp-content {
          > .cnt-table {
            table.xoo-cp-pdetails {
              .xoo-cp-pimg {
                width: 25%;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
