.redes-sociales {
  ul {
    li {
      display: inline-block;
      margin: 5px 10px;

      a {
        width: 32px;
        height: 32px;
        line-height: 32px;
        display: block;
        @include border_radius(50%);
        font-size: 18px;
        color: $celeste;
        background-color: $blanco;
      }
    }
  }
}