.slick-slider {
  &.slick-dotted {
    margin-bottom: 0!important;

    .slick-dots {
      bottom: 10px!important;

      li {
        width: auto;
        height: auto;

        button {
          width: 10px;
          height: 10px;
          border: 2px solid $gris1;
          @include border_radius(50%);

          &:before {
            display: none;
          }
        }

        &.slick-active {
          button {
            background-color: $gris1;
          }
        }
      }
    }
  }
}

.cnt-slick {
  padding-top: 50px;
  padding-bottom: 30px;

  @include media-breakpoint-down(md){
    padding-top: 8px;
    padding-bottom: 10px;
  }
}

.carrusel-home {
  .slider {
    padding: 0 25px;

    .slick-next, .slick-prev {
      font-size: 40px;
      width: 40px;
      height: 40px;
      color: $gris5;
      @include translate(0,-100%);
      @include transition(color 300ms ease-in);

      &:before {
        display: none;
      }

      &:hover, &:focus {
        color: $celeste;
      }

      i {
        line-height: 1;
      }
    }

    .slick-prev {
      left: -20px;
    }

    .slick-next {
      right: -20px;
    }

    .slick-track {
      .slick-slide {
        padding: 0 10px;
      }
    }

    &.categorias {
      .slick-slide {
        .cnt {
          position: relative;

          a {
            @include absoluto();
            z-index: 3;
          }

          .imagen {
            opacity: 0;
          }

          i {
            color: $blanco;
          }

          img {
            display: block!important;
            margin: 0 auto;
          }

          > * {
            @include absoluto();
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
          }

          &:after {
            content: "";
            display: block;
            padding-top: 100%;
          }
        }

        > h3 {
          margin-top: 10px;
          font-size: 15px;
        }

        @include media-breakpoint-down(lg) {
          .cnt {
            padding: 5px;
            min-height: 100px;
            @include flexbox;
            @include align-items(center);
            @include flex-direction(column);
            @include justify-content(center);

            img, i, h3 {
              position: relative;
            }

            h3 {
              color: $blanco;
              margin-bottom: 0;
            }

            img {
              max-height: 70px;
              width: auto;
            }

            i {
              font-size: 55px;
            }

            &:after {
              display: none;
            }
          }
        }

        @include media-breakpoint-down(sm) {
          .cnt {
            min-height: 90px;

            h3 {
              margin-top: 5px;
              font-size: 11px;
            }

            i {
              font-size: 35px;
            }

            img {
              max-height: 45px;
            }
          }
        }
      }
    }

    &.marcas {
      .slick-next, .slick-prev {
        @include translate(0,-50%);
      }

      .slick-list {
        .slick-slide {
          padding: 8px;

          a {
            display: block;
            padding: 10px;
            background-color: $gris3;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding: 0;

      .slick-track {
        .slick-slide {
          padding: 0 3px;
          width: 200px;
        }
      }
    }

    @include media-breakpoint-down(sm) {

    }

    @include media-breakpoint-down(xs) {
      padding: 0;

      &.productos {
        .slick-slide {
          width: 35vw!important;
        }
      }

      &.categorias {
        .slick-slide {
          width: 35vw!important;
        }
      }
    }

    @media only screen and (max-width: 380px) {
      &.productos {
        .slick-slide {
          width: 35vw !important;
        }
      }
    }

    @media only screen and (max-width: 340px) {
      &.productos {
        .slick-slide {
          width: 35vw !important;
        }
      }
    }
  }
}

.woocommerce-galeria {
  > .row {
    margin-left: -7px;
    margin-right: -7px;

    > [class*=col-] {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}

