.woocommerce {
  span {
    &.onsale, &.ultimas {
      background-color: $rojo;
      font-weight: 400;
      @include border_radius(0 20px 20px 0);
      left: -5px;
      top: 0;
      min-height: 0;
      height: 22px;
      font-size: 14px;
      padding: 3px 10px;
      line-height: 1;
      color: $blanco;
    }

    &.agotado, &.ultimas {
      display: none;
      position: absolute;
      color: $blanco;
    }

    &.agotado {
      background-color: rgba(0,0,0,.3);
      left: -5px;
      right: -5px;
      top: 50%;
      @include translate(0,-50%);
      text-align: center;
      padding: 3px 4px;
      font-size: 12px;
    }

    @include media-breakpoint-up(lg) {
      &.onsale, &.ultimas {
        left: -10px;
      }

      &.agotado {
        left: -10px;
        right: -10px;
        font-size: 14px;
        padding: 2px 5px;
      }
    }

    @include media-breakpoint-down(sm) {
      &.onsale, &.ultimas {
        font-size: 11px;
        padding: 3px 7px;
        line-height: 1.4;
        white-space: nowrap;
        margin-left: -5px;
      }
    }
  }

  input.button {
    background: $celeste;
    color: $blanco;
    font-weight: normal;
    text-transform: uppercase;
  }

  .outofstock {
    span.agotado {
      display: block;
    }
  }

  .ultimos {
    &:not(.outofstock) {
      span.ultimas {
        display: block;
      }
    }

    &.sale {
      span.ultimas {
        top: 25px;
      }
    }
  }

  div.product {
    //max-width: 100%;
  }

  // product-content
  .products {
    &.tienda {
      margin-left: -15px;
      margin-right: -15px;

      &.grid {
        .product {
          @include media-breakpoint-up(lg) {
            &:nth-of-type(4n+1) {
              clear: both;
            }
          }
        }
      }

      &.list {
        > .product {
          width: 50% !important;

          @include media-breakpoint-up(lg) {
            &:nth-of-type(2n+1) {
              clear: both;
            }
          }

          @include media-breakpoint-down(md) {
            width: 100% !important;
          }
        }
      }

      .product {
        margin-bottom: 50px;
        width: 25%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;



        @include media-breakpoint-only(md) {
          width: 33%;
          margin-bottom: 30px;

          &:nth-of-type(3n+1) {
            clear: both;
          }
        }

        @include media-breakpoint-down(sm) {
          width: 50%;
          margin-bottom: 15px;

          &:nth-of-type(2n+1) {
            clear: both;
          }
        }
      }

      @include media-breakpoint-down(lg) {
        margin-left: -10px;
        margin-right: -10px;

        .product {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      @include media-breakpoint-down(md) {
        margin-left: -4px;
        margin-right: -4px;

        .product {
          padding-left: 4px;
          padding-right: 4px;
        }
      }
    }

    .product {
      span {
        &.onsale {
          z-index: 4;
        }
      }

      &:not(.outofstock) {
        .ctn-imagen {
          a {
            &.woocommerce-loop-product__link {
              &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(255,255,255,.5);
                height: 24px;

                @include media-breakpoint-down(sm) {
                  height: 23px;
                }
              }
            }
          }
        }
      }

      .ctn-imagen {
        position: relative;
        padding: 10px;
        border: 1px solid $gris2;
        @include border_radius(5px);
        margin-bottom: 10px;
        overflow: hidden;

        &:after {
          display: block;
          content: "";
          padding-top: 100%;
        }

        a {
          &.woocommerce-loop-product__link {
            display: block;
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            margin: auto;
          }

          &.button, &.added_to_cart, &.wc-gift-ideas-producto-remove {
            position: absolute;
            z-index: 2;
            right: 10px;
          }

          &.wc-gift-ideas-producto-remove {
            top: 10px;
          }

          &.button {
            font-weight: normal;
            bottom: 10px;
            background-color: transparent;
            font-size: 0;

            &.add_to_cart_button {
              display: none;
            }

            i {
              font-size: 18px;
            }

            &:after, &:before {
              font-size: 24px;
            }

            &.add-regalo {
              left: 10px;
              right: auto;
            }

            &.add_to_cart_button {
              &:before {
                font-family: 'toys2go_icons';
                content: '\e842';
                font-size: 24px;
              }
            }
          }

          &.added_to_cart {
            bottom: 45px;
          }
        }

        img {
          position: absolute;
          display: block;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          max-width: 100%;
          max-height: 100%;
          height: auto;
          width: auto;
        }
      }

      a {
        &.woocommerce-loop-product__link {
          h3, .h3 {
            color: $gris1;
            min-height: 32px;
            margin-bottom: 0;
            line-height: 1.3;
            font-size: 13px;
          }
        }
      }

      span {
        &.price {
          color: $negro;
          line-height: 1;
          display: block;
        }

        &.woocommerce-Price-amount {
          font-size: 18px;
          line-height: 1.8;
          display: inline-block;
          font-weight: 400;
        }

        del {
          font-size: 12px;
          vertical-align: middle;
          line-height: 1;
          vertical-align: middle;
          display: inline-block;
          margin-right: 10px;

          .woocommerce-Price-amount {
            font-weight: 400;
            text-decoration: line-through;
            font-size: 12px;
          }
        }

        ins {
          text-decoration: none;
          color: $rojo;
          vertical-align: middle;
          display: inline-block;

          span.woocommerce-Price-amount {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }

      &.sale {
        span.price {
          //font-size: 0;
        }
      }

      &.product-type-variable {

      }
    }

    @include media-breakpoint-down(lg) {
      .product {
        a {
          &.woocommerce-loop-product__link {
            h3, .h3 {
              min-height: 45px;
              margin-bottom: 0;
            }
          }
        }

        span {
          &.price {
            font-size: 18px;
          }

          del {
            font-size: 12px;
            vertical-align: inherit;
          }
        }

        .ctn-imagen {
          padding: 5px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .product {
        a {
          &.woocommerce-loop-product__link {
            h3, .h3 {
              font-size: 12px;
            }
          }
        }

        span {
          &.woocommerce-Price-amount {
            font-size: 16px;
          }
        }

        &.product-type-variable {
          span.price {
            font-weight: 800;

            span.woocommerce-Price-amount {
              line-height: 1;
            }
          }
        }
      }

    }

    @include media-breakpoint-down(xs) {
      .product {
        .ctn-imagen {
          a {
            &.button i, &.add_to_cart_button:before, &.add_to_cart_button:after {
              font-size: 20px !important;
            }
          }
        }

        span {
          &.price {
            font-size: 18px;
          }

          del {
            vertical-align: inherit;

            span.woocommerce-Price-amount {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

.cart-contents {
  .icon-carrito {

  }
}

/**
 * Género
 */
.genero-link {
  a {
    @include border-radius(7px);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    color: $blanco;
    height: 60px;

    i {
      font-size: 35px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

/**
 * Detalle del producto
 */
.woocommerce-galeria {
  .slick-slide {
    overflow: hidden;

    img {
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .slider-nav {
    .slick-slide {
      margin-bottom: 14px;
      max-width: 100%;
      position: relative;

      &.video {
        &:after {
          position: absolute;
          content: "\e859";
          font-family: "toys2go_icons";
          color: $blanco;
          font-size: 50px;
          line-height: 1;
          top: 50%;
          left: 50%;
          @include translate(-50%, -50%);
        }

        img {
          height: 88px;
        }
      }
    }
  }

  .slider-for {
    .slick-slide {
      &.video {
        a {
          position: relative;
          display: block;

          &:after {
            position: absolute;
            content: "\e859";
            font-family: "toys2go_icons";
            color: $blanco;
            font-size: 105px;
            line-height: 1;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.woocommerce {
  &.single-product {
    .img-movil {
      margin-bottom: 15px;
      border-bottom: 1px solid $gris2;

      .woocommerce-galeria {
        .slick-slide {

          border: 0;
          @include border_radius(0);

          &.video {
            a {
              position: relative;
              display: block;

              &:after {
                position: absolute;
                content: "\e859";
                font-family: "toys2go_icons";
                color: $blanco;
                font-size: 105px;
                line-height: 1;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
              }
            }

          }
        }
      }
    }

    .img-desktop {
      .slick-slide {
        @include border_radius(5px);
        border: 1px solid $gris2 !important;
        overflow: hidden;
      }
    }

    .entry-summary {
      h1, .h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .product_meta {
        margin-bottom: 10px;

        span {
          &.sku_wrapper {
            font-size: 15px;

          }
        }
      }

      .post-ratings {
        margin-bottom: 10px;
      }

      .price {
        color: $rojo;
        text-decoration: none;

        .woocommerce-Price-amount {
          font-size: 32px;
          font-weight: 700;
          color: $rojo;
          text-decoration: none;
          text-decoration-color: inherit;
        }

        del {
          color: $gris1;
          text-decoration-color: rgba(74,74,74,0.65);
          .woocommerce-Price-amount {
            font-weight: 500;
            display: block;
            font-size: 15px;
            color: $gris1;
            text-decoration-color: rgba($gris1,0.8);
          }
        }

        ins {
          text-decoration: none;
        }
      }

      form.cart {
        margin-bottom: 16px;

        .quantity {
          margin: 0 6px 25px 0;
          height: 48px;

          input {
            border-color: $gris2 !important;
            border-width: 1px;
            border-style: solid;

            &.plus, &.minus, &.qty {
              position: relative;
              float: none;
              height: 100%;
            }

            &.plus, &.minus {
              width: 35px;
              font-size: 30px;
              line-height: 1;
            }

            &.qty {
              width: 50px;
              border-width: 1px 0;
              color: $celeste;
              font-size: 16px;
            }

            &.plus {
              @include border_radius(0 5px 5px 0);
            }

            &.minus {
              @include border_radius(5px 0 0 5px);
            }
          }
        }

        button, a, input[type=button] {
          &.button, &.alt {
            background-color: $celeste;
          }
        }
      }

      button, a, input[type=button] {
        &.button, &.alt {
          font-weight: 500;
          font-size: 16px;
          padding: 16px;
          @include border_radius(5px);
          text-align: center;
          color: $blanco;

          &.add-regalo {
            background-color: $amarillo;

            &:after {
              content: "Agregar a la lista de regalos";
            }
          }
        }
      }

      &.summary {
        margin-bottom: 10px !important;
      }
    }

    .soloquedauno {
      .entry-summary {
        .quantity {
          display: none;
        }
      }
    }

    h3, .h3 {
      font-size: 16px;
    }

    @include media-breakpoint-up(lg) {
      .entry-summary {
        button, a, input[type=button] {
          &.button, &.alt {
            width: 400px;
            display: block;

          }
        }

        form.cart {
          .quantity {
            float: none;
          }
        }
      }
    }
    @include media-breakpoint-only(lg) {
      .entry-summary {
        form.cart {
          .quantity {
            margin-bottom: 25px;
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      .entry-summary {
        form.cart {
          .quantity {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.descripcion-producto {
  padding-top: 15px;
  padding-bottom: 30px;

  h2 {
    margin-bottom: 25px;
  }

  @include media-breakpoint-down(md) {
    h2 {
      font-size: 14px;
      margin-bottom: 20px;
    }

    p, li {
      font-size: 12px;
    }
  }
}

.woocommerce-message {
  border-top-color: $celeste;

  &:before {
    color: $celeste;
  }
}

.in-stock{
  display: none !important;
}