.herramientas-desktop {
  @include flexbox;
  padding-top: 5px;
  padding-bottom: 5px;

  > * {
    padding-left: 10px;
    padding-right: 10px;

    @include flexbox;
    margin-bottom: 0!important;

    &.br-1 {
      border-right: 1px solid $gris2;
    }
  }

  label, span, small {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    font-size: 12px;
    padding: 0;
  }

  @include media-breakpoint-down(md) {
    > * {
      padding-left: 5px;
      padding-right: 5px;
    }

    select {
      max-width: 100px;
      border-color: transparent!important;
    }
  }
}

.woof_products_top_panel {
  display: none!important;
}

.lista-grilla {
  margin-left: -4px;
  margin-right: -4px;
  margin-bottom: 0;

  li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;

    a {
      line-height: 24px;
      font-size: 15px;
      color: $gris2;

      &.selected {
        color: $gris1;
        cursor: default;
      }
    }
  }
}