$font-parrafos : 'Montserrat', sans-serif;
$font-titles: 'Montserrat', sans-serif;

/**
 * Colores
 */
$celeste      : #00abf1;
$rojo         : #ee1f25;
$amarillo     : #fbc616;
$blanco       : #fff;
$negro        : #000;
$gris1        : #4a4a4a;
$gris2        : #ccc;
$gris3        : #f2f2f2;
$gris4        : #39393b;
$gris5        : #c8c8c8;
$gris6        : #a5a5a5;
$gris-inputs  : #979797;
$color-borde  : #d8d8d8;
/**
 * Medidas custom
 */
$main-esp : 16px;

/**
 * Fuentes
 */
$ruta-fuentes   : "../fonts";
