//@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";

body#tinymce {
  padding: 10px !important;
}

body {
  &.login{
    h1 a {
      -webkit-background-size:auto;
      background-size:auto;
      background-position: center top;
      background-repeat: no-repeat;
      color: #444;
      height: 105px;
      font-size: 20px;
      line-height: 1.3em;
      margin: 0 auto 25px;
      padding: 0;
      text-decoration: none;
      width: 320px;
      text-indent: -9999px;
      outline: 0;
      display: block;
    }
  }

  &.post-type-product {
    table {
      &.wp-list-table {
        thead, tbody {
          th, td {
            padding: 8px 8px;

            &.column-thumb {
              width: 45px;

              img {
                max-width: 100%;
                height: auto;
              }
            }

            &.column-name {
              width: 10%;
            }

            &.column-is_in_stock {
              width: 85px;
            }
          }
        }
      }
    }
  }
}
