body {
  background: red;
}
/**
 * Menú categorías
 */
.menu-categorias {
  &.navbar {

    ul.navbar-nav {
      > li {


        > a.nav-link {

        }

        & + li {
          &:after {

          }
        }
      }
    }
  }
}